.owl-controls.clickable {
		display: none;
	}
	.likeview-rm1 .like-span1{
		color: #000;
	}
	.likeview-rm1 .like-span1.active{
		color: #60c4ab !important;
	}
.size_chart_div {
  font-weight: bold;    clear: both;   
	}
	.size_chart_div .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f0e9f2 !important;
	}
	#size-chart .modal-header button.close {
    font-size: 28px;
    color: #000;
    opacity: 0.9;
}
div#size-chart label{font-size: 18px;}
.size_chart_div1{text-align: center;}
div#size-chart label input.size_chekd{    display: none;} 
div#size-chart {
    margin-top: 60px;
}
	.size_chart_div h4 {
    text-align: center;
    font-weight: bold;
	}
	.size_chart_div .table>tbody>tr>td {
    border-top: none;font-size: 12px;
    padding: 15px 20px;    text-align: left;
	}
	.size_chart_div .table>tbody>tr>td:nth-child(1) {
    border-right: 1px solid #ccc;font-size: 14px;
    color: #000;
	}
	.size_chart_div ul.in-tab li a {
    color: #000;
}
.size_chart_div ul.in-tab li.active a {
    background: #60c4ab !important;
}
.size_chart_div ul.in-tab li {
    background: transparent;    border-radius: 5px;
    color: #000 !important;
    border: 2px solid #60c4ab;
}
	.size_chart_div .table>thead>tr>th:nth-child(1) {
    border-right: 1px solid #ccc;
	}
	.size_chart_div li {
    background: #60c4ab;
	margin-right: 5px;border-radius: 3px;
	}
	.size_chart_div ul {
    border-bottom: 0px;
    margin-bottom: 20px;    display: inline-block;
	}
	.size_chart_div li.active a:focus {    background-color: #ee4266 !important;}
	.size_chart_div li.active a {
    border-radius: 0px;
    color: #fff !important;
    border: 0px solid #ddd !important;
    border-bottom-color: transparent !important;
    background-color: #ee4266 !important;
	}
	.size_chart_div h2 {
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 18px;
    font-weight: bold;    color: #000;
    padding-bottom: 10px;
	}
	.size_chart_div .table>thead>tr>th {
	    color: #000;
    padding: 15px 20px;
	}
	.size_chart_div li.active a {
    border-radius: 0px;
    color: #fff !important;
    border: 0px solid #ddd !important;
    border-bottom-color: transparent !important;
	}
	
	.size_chart_div li a {
    color: #fff;    padding: 5px 20px;
    border-radius: 0px !important; border:none !important;
	}
	.size_chart_div li a {color:#fff;}
	.size_chart_div li.active {
    background: #fff;
    border-radius: 0px;
	}
	#size-chart .modal-header h4 {
    text-align: center;
    font-weight: bold;
    color: #000;
}
#size-chart .modal-header {
    text-align: center;    padding-bottom: 5px;
    font-weight: bold;
}
.size_chart_div p {
    font-size: 12px;
}
a.size_chrtcls {
    color: #60c4ab;
    font-size: 14px;
    text-decoration: underline;
}