body{font-family: Source Sans Pro,sans-serif !important;position:relative;}
a:hover, a.active {font-style:none}
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}
/**/
.skin-blue .main-header .logo:hover, .skin-blue .main-header .logo{background-color: #fff;}
span.logo-lg {width: 57%;    margin: 0 auto;}
.skin-blue .main-header .navbar {background-color: #60c5ac;}
.skin-blue .main-header li.user-header{background-color: #549e8c;}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a{background-color: #60c5ac;}
.btn-warning {
    background-color: #60c5ac;
    border-color: #60c5ac;
}
.c_edit_csmts .drop_uploader img {
    background: #fff;
}
.c_edit_csmts .drop_uploader {
    position: absolute;
    top: 0;
}
/*Jithu 24042017 *******/ 
/*#dtTable tr>th:first-child{
display: none;
}
#dtTable tr>td:first-child{
display: none;
}
*/
/*******************/





/*edit upload css start here*/
.threeblogs.upload-photo-blogs h2.heading-agent {
    font-weight: bold;
}
.saveMultiple{    padding: 8px 25px !important;}

.imageModel .modal-footer .save {
    padding: 8px 25px !important;
}
  #customer_edit1 .form-group.has-feedback {
            clear: left;
        }
        .crt_right_alng .form-group.has-feedback {
            clear: both;
        }
        .control-label.kyword {
            text-align: left;
        }
        .upload-photo-blogs .up-blog input {
            width: 100%;
            cursor: pointer;
            left: 0;
            margin: 0 auto;
            position: absolute;
            height: 100%;
            color: transparent;
            opacity: 0; top:0px;
        }
        .cropper-bg {
            background-image: none !important;
        }
        .save,.saveMultiple {
            background: #60c5ac;
            border: 1px solid #60c5ac;
            font-size: 16px;
            font-family: Proxima-Nova-Extrabold;
            padding: 8px 25px;
        }
        section.content.create_section_page .modal-body p {
            font-family: Proxima-Nova-Extrabold;
        }
        section.content.create_section_page .modal-header {
            text-align: center;font-family: Proxima-Nova-Extrabold;
        }
        .imageModel {
            margin-top: 30px;
        }
        .modal-header .close {
            opacity: 0.9;
            font-size: 28px;
        }
        .imageModel .modal-content{border-radius:0px;}
        .img_clse {
            background: transparent;
            border: 2px solid #60c5ac;
            font-size: 14px;
            font-family: Proxima-Nova-Extrabold;
            padding: 8px 25px;
            text-align: right;
            float: right;
            margin-right: 10px;
            color: #60c5ac;
        }
        section.content.create_section_page .modal-body #zoom-level {

        }
        section.content.create_section_page .btn-success:active:focus, .btn-success:active:hover{background-color: #60c5ac;
            border-color: #60c5ac;}
        section.content.create_section_page  .btn-success:active{border-color: #60c5ac !important;}
        section.content.create_section_page .btn-success:hover{background-color: #60c5ac !important;}
        section.content.create_section_page .btn-success:active {
            background-color: #60c5ac !important;
        }
        .btn-success:focus{    background-color: #60c5ac !important;}
        .img-pp input {
            width: 80%;
            margin: 0 auto;
            display: inline-block;
        }
        .img-pp-iner {
            width: 350px;
            margin: 0 auto;    margin-top: 20px !important;    margin-bottom: 10px;
        }
        .img-pp {
            display: inline;
            margin: 0 auto;
        }
        .img-pp-iner i.fa.fa-picture-o {
            font-size: 15px;
        }
        .img-pp-iner i.fa.fa-picture-o.fa-3 {
            font-size: 22px;
        }
        .imageModel .modal-footer {
            border-top: 1px solid #ccc !important;
        }
        input[type=range] {
            /*removes default webkit styles*/
            -webkit-appearance: none;
            /*fix for FF unable to apply focus style bug */
            border: 1px solid white;
            /*required for proper track sizing in FF*/
        }
        input[type=range]::-webkit-slider-runnable-track {
            height: 5px;
            background: #ddd;
            border: none;
            border-radius: 3px;
        }
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
            background: #fff;
            margin-top: -4px;
        }
        input[type=range]:focus {
            outline: none;
        }
        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #ccc;
        }
        input[type=range]::-moz-range-track {
            height: 5px;
            background: #ddd;
            border: none;
            border-radius: 3px;
        }
        input[type=range]::-moz-range-thumb {
            border: none;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
            background: #fff;
        }
        /*hide the outline behind the border*/
        input[type=range]:-moz-focusring{
            outline: 1px solid white;
            outline-offset: -1px;
        }
        input[type=range]::-ms-track {
            height: 5px;
            /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
            background: transparent;
            /*leave room for the larger thumb to overflow with a transparent border */
            border-color: transparent;
            border-width: 6px 0;
            /*remove default tick marks*/
            color: transparent;
        }
        input[type=range]::-ms-fill-lower {
            background: #777;
            border-radius: 10px;
        }
        input[type=range]::-ms-fill-upper {
            background: #ddd;
            border-radius: 10px;
        }
        input[type=range]::-ms-thumb {
            border: none;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
            background: #fff;
        }
        input[type=range]:focus::-ms-fill-lower {
            background: #888;
        }
        input[type=range]:focus::-ms-fill-upper {
            background: #ccc;
        }
        .img-pp-iner img.img-responsive.crp1 {
            float: left;margin-top: 3px;

            margin-right: 6px;
        }
        .img-pp-iner img.img-responsive.crp2 {
            float: right;

            margin-right: 23px;
        }
        .cropper-modal
        {
            background: none !important; ;
        }
        .modal-footer
        {
            border-top:none !important;
        }
        .cropper-bg
        {
            background-image: none !important;
        }
        .carousel
        {
            position: fixed !important;
        }
        input.slider {
            position: inherit;
        }
        .modal-header h4{
            font-weight: bold;
            font-size: 18px;
        }
        .modal-body p
        {
            font-weight: bold;
        }
        span.text a
        {
            position: relative !important;
        }
        .threeblogs.edit_admin_cstume
        {
            width: 72% !important;
        }
        .up-blog span.text a:after {
           content: "\f030";
           font-family: 'FontAwesome';
           color: #fff;
           font-size: 24px;
           display: block;
           margin-top: 0%;
           left: 0px;
           right: 0px;
           line-height: 280px;
        }
/*edit upload css end here*/





















.upload-photo-blogs .up-blog{    width: 198px;}
.upload-photo-blogs .up-blog img {
    width: 198px !important;
}
.main_upload_blogs.clearfix {
    clear: both;
    position: relative;
    width: 198px;
}
#edit_customer .fileupload.fileupload-new img {
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    min-width: 150px;
}
#customer_create .fileupload.fileupload-new img {
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    min-width: 150px;
}
.keywords_div {
    clear: left;
    margin-top: 10px;
}
.form-group.has-feedback.desncrb_name label {
    text-align: left;
}
input#keywords_tag {
    float: left;
    width: 300px;
}
div#count {
    display: block;
    float: left;
    text-align: left;
    width: 100%;
    font-weight: 600;
}
.keywords_div p.keywords_p span {
    color: #60c5ac;
    font-size: 14px;
    font-style: normal;
    cursor: pointer;
    padding-left: 5px;
    font-family: 'Proxima-Nova-black';
}
div#count {
    font-family: Proxima-Nova-semibold;
    color: #323031;
}
.keywords_div p.keywords_p {
    font-size: 14px;
    margin-right: 5px;
    color: #60c5ac;
    font-style: italic;
    padding: 5px;
    margin-bottom: 5px;
    display: inline-block;
    border-radius: 3px;
    font-family: 'Proxima-Nova-Medium';
    border: 1px solid #60c5ac;
}
#keywords_add {
    vertical-align: middle;
    background: transparent;
    padding: 9px 29px 9px 25px;
    font-family: Proxima-Nova-Semibold;
    color: #60c5ac;
    border: 1px solid #60c5ac;
    line-height: 33px;
}
.form-group.has-feedback.desncrb_name p {
    text-align: left;
}
button.dt-button:focus:not(.disabled), div.dt-button:focus:not(.disabled), a.dt-button:focus:not(.disabled) {
    border: 1px solid #60c5ac !important;
    text-shadow: 0 1px 0 #60c5ac !important;
    outline: none;
    background-color: #60c5ac !important;
    background-image: -webkit-linear-gradient(top, #bddef4 0%, #79ace9 100%);
    background-image: -moz-linear-gradient(top, #bddef4 0%, #79ace9 100%);
    background-image: -ms-linear-gradient(top, #bddef4 0%, #79ace9 100%);
    background-image: -o-linear-gradient(top, #bddef4 0%, #79ace9 100%);
    background-image: linear-gradient(to bottom, #bddef4 0%, #79ace9 100%);
    background-image: none !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#bddef4', EndColorStr='#79ace9');
}
.dt-buttons a {
    background: #60c5ac;
    color: #fff;
    border: 1px solid #60c5ac;
    font-size: 12px;
    font-weight: bold;
}
div.dt-buttons a:hover {
    background: #60c5ac !important;
    border: 1px solid #60c5ac !important;
}
div.dt-buttons{float: right !important;}
div.dt-buttons a {
    color: #fff;
    background: #60c5ac;
    border: 1px solid #60c5ac;
}
.dt-buttons a.buttons-print span:after {
    font-family: 'FontAwesome';
    content: "\f02f";    margin-left: 7px;    font-weight: 100;
}
.dt-buttons a.buttons-csv span:after {
    font-family: 'FontAwesome';
  content: "\f019";   margin-left: 7px;    font-weight: 100;
}
.threeblogs .remove_pic {
    position: absolute;
    z-index: 9999;
    right: 10px;
    color: red;
    top: 15px;
}
.modal-open .modal{z-index: 9999}
.threeblogs.c_edit_csmts i.fa.fa-times-circle {
    color: red;
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 99;
}
.multi_div {
    margin-bottom: 20px;   
}
.multi_div .remove_pic i.fa.fa-times-circle {
    position: absolute;
    right: 20px;
    top: 0px;
    color: red;
}
.userpic span.remove_pic {
    left: 50px !important;
    top: 15px !important;
}
input#upload-file-selector {
    display: block;
    width: 100%;    margin-left: 0px;
}
.threeblogs .error {
   bottom: -20px;
   left: 0;
   position: absolute;
   width: 100%;
}


.threeblogs {
   position: relative;
}
.pnds {
    margin-top: 15px;
}
input#event_image {
    margin-top: 15px;
}
.profile_pic_admin .fileupload.fileupload-new img {
    height: 150px;
}
.defult-form .fileupload.fileupload-new span.remove_pic, .defult-form .fileupload.fileupload-new span.edit_remove_pic {
    position: absolute !important;
    top: 10px !important;
    left: 105px !important;
    color: red;
    cursor: pointer;
}
.profile_pic_admin .fileupload.fileupload-new img {
    width: 150px;
    max-height: 150px;
}
.input-group.blog-categories {
    margin-top: 15px;
}
.edit_thumbs {
    width: inherit !important;/*clear: both;*/    max-height: 298px;
    overflow: hidden;
}
.blog_status_right .ad_cate_btn {
    background: #60c5ac;
    color: #fff;
    border: 1px solid #60c5ac;
}
.multi_div:nth-child(3n+1) {
    margin-bottom: 20px;
    margin-left: -10px;
}
#add_blog_post .input-group.blog-categories .form-input {
    margin-bottom: 6px;
}
#add_blog_post .input-group.blog-categories a.btn.btn-xs.btn-danger {
    float: right;
    margin-left: 15px;
}
.threeblogs {
    display: inline-block;
}
#other_thumbnails {
    width: 76%; 
}
/*.main_upload_blogs.clearfix {
    clear: both;position: relative;
}*/
.multi_thumbs.pip {
    min-height: 298px;
    width: 100%; width: 198px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}
div#tracking_ids {
    text-align: left;
    padding-left: 15px;
}
form#events-create .fileupload.fileupload-new img {
    margin-bottom: 20px;
    margin-top: 20px;
}
.btn-primary {
    color: #fff;
    background-color: #60c5ac !important;
    border-color: #60c5ac !important;
}
.btn-success {
    background-color: #60c5ac !important;
    border-color: #60c5ac !important;
    border-radius: 2px;
    padding: 5px 15px;
    font-weight: 700;
}
form#edit_blog_post .fileupload.fileupload-new img {
    max-width: 170px;
    max-height: 260px;
}
.btn-info {
    background-color: #60c5ac;
    border-color: #60c5ac;
}
.selectize-control.multi .selectize-input [data-value] {
    text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #60c5ac;
    background-image: -moz-linear-gradient(top, #1da7ee, #178ee9) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#60c5ac), to(#60c5ac))  !important;
    background-image: -webkit-linear-gradient(top, #60c5ac, #60c5ac)  !important;
    background-image: -o-linear-gradient(top, #1da7ee, #178ee9)  !important;
    background-image: linear-gradient(to bottom, #60c5ac, #60c5ac)  !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1da7ee', endColorstr='#ff178ee9', GradientType=0);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.03)  !important;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.03)  !important;
}
.charity_popup input#profile_logo {
    padding-left: 0px;
    margin-top: 30px;overflow: visible;}
form#press-update .fileupload.fileupload-new {
    margin: 15px 0px;
}
form#press-update .fileupload.fileupload-new img {
    margin-bottom: 20px;
}
.old-orders {
    margin-top: 30px;
}
#add_blog_post .fileupload.fileupload-new img {
    max-width: 150px;
    max-height: 150px;
}
.summery-details h3 a{padding-right: 60px !important;}
.order-list-sec table.table.table-striped tbody tr:nth-last-child(-1n+3) td {
    background: #f4f4f4 !important;    font-weight: bold;
    padding-bottom: 0px !important;
}
.summery-details {
    padding: 15px;
    padding-left: 30px !important;
}
input.btn.btn-primary.generate-btn {
    margin-top: 15px;
}
.users_list_tables table#dtTable thead tr th:nth-child(6) {
    width: 190px !important;
}
h3.box-title.press_tle {
    padding-bottom: 15px;
}
ul.admin_sub_reques_div select {
   
    margin-right: 15px;
}
.event_div_tl {
    padding-left: 15px;
}
.location-div .add-event-error .error {
    top: 51px;
    position: absolute;
}
.col-md-12.location-div {
    min-height: 110px;
}
span.logo-sm {
    display: none;
}
.ad_pst label{display:block;}
.col-md-6.dimsn-bknd {
    margin-top: 6px;
}
#messaging_div h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;margin-bottom: 50px;
}
div#messaging_div textarea#message_theard {
    margin-top: 30px;
}
.msg-submit {
    margin-top: 15px;
    font-size: 16px;
    color: #fff !important;
    padding: 5px 40px;
}
#messaging_div .media {
    border-bottom: 1px solid #ccc;
}
#messaging_div .media-left {
    width: 8%;    text-align: center;
}
#messaging_div {
    padding: 20px; text-align:left;
}
#messaging_div .media-left img {
    border-radius: 100%;
    width: 50px;    margin-bottom: 15px;
    height: 50px;
    max-width: 50px;
}
#messaging_div .media-body {
    padding-left: 20px;
}
#messaging_div .media-heading span {
    font-style: italic;
    color: #ccc;
}
.crt_right_alng label.control-label {
    margin-bottom: 8px !important;
}
.cldr input {
    position: relative;
}
.cldr img {
    position: absolute;
    right: 27px;
    top: 36px;
    cursor: pointer;
}

.cldr2 input {
    position: relative;
}

.cldr2 img {
    position: absolute;
    right: 17px;
    top: 26px;
    cursor: pointer;
}
.cldr2.event-dates img {
    z-index: 9999;
    top: 10px;
    right: 7px;
}
.input-group label.error.error-msg-align{
  position:relative;  
  left: 0;
 }

 #events-update .input-group label.error { position: absolute; top: 65px !important; left: 0; }

 #locationField, error {
    margin-top: 35px;
}
span.input-group-addon.glyphicon.glyphicon-time {
    position: absolute;
    top: 30px;
    z-index: 10;
    right: 9px;
    border-color: transparent;
}
.clockpicker label.time-label {
    text-align: left !important;
    min-width: 85px;
}

.dmns_rigts .col-md-4 {
    padding-left: 0px;
}
.drop_uploader.drop_zone .text a:after {
    margin-top: 30% !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #60c5ac;
    border-color: #60c5ac;
}
.c_ctmes-admin .form-group.has-feedback {
    padding-left: 0px;
}
.view-order .box-header.with-border{padding-bottom: 0px !important;    border-bottom: 0px;}
.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus {
    color: #444;
    background: #f7f7f7;
}
#messaging_div .media-left p {
    text-transform: capitalize;
}
div#lightbox .modal-content {
    padding-bottom: 20px;
}
.box.box-info.order_review_tabs ul li:nth-child(1) a {
    background: #60c5ac;
    color: #fff;
}
.view-order .box.box-info {
    border-top-color: #00c0ef;
    padding-left: 15px;
}
.view-order .box.box-info{border-top-color: #60c5ac !important;}
.box.box-info.order_review_tabs ul li a {
    color: #333;
}
/* .defult-form .fileupload.fileupload-new img {
    width: 100%;
}
 #category-create .defult-form .fileupload.fileupload-new {
    max-height: 90px;
     overflow: hidden;
} */
#category-create .cat_img.fileupload.fileupload-new img {
    width: 100%;
}
#category-create .cat_img.fileupload.fileupload-new {
    max-height: 100px;
    overflow: hidden;
}
#category-create .ban_img.fileupload.fileupload-new {
	   max-height: 100px;
    overflow: hidden;
}
#category-create .ban_img.fileupload.fileupload-new img {
width:100%;
}
.upload_bx {
    padding-left: 0px;
    margin-top: 5px;
}
input#cat_image {
    color: transparent;
}
input#banner_image {
    color: transparent;
}
.text-left.add_btn {
    margin-top: 25px !important;
    padding-bottom: 0px;
    float: left;
    text-align: left;
}
a.btn.btn-primary.pull-right.add-prod {
    margin-top: 27px;
	}
.btn-warning:hover, .btn-warning:active, .btn-warning.hover {
    background-color: #60c5ac;    border-color: #60c5ac;
}
a.add_cat.btn.btn-primary {
    margin-top: 20px; float:right;
}
a.remove_cat.btn.btn-danger {
    margin-top: 20px;float:right;
}
a.add-prod.btn.btn-primary {
    margin-top: 20px;float:right;
}
a.remove_product.btn.btn-danger {
    margin-top: 20px;float:right;
}
.row_pregt {
    margin-left: 5px;
}
.btn-warning.focus, .btn-warning:focus {
    color: #fff;
    background-color: #60c5ac;
    border-color: #60c5ac;
}
span.remove_pic_banner {
    position: absolute;
    top: -7px;    color: red;
    right: 0px;
}
.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover {
    color: #fff;
    background-color: #60c5ac;
    border-color: #60c5ac;
}
/**/

.login-logo img {
    margin: 0 auto !important;
}
.main-header .logo img {

    margin-top: 0;
}
.btn-primary {
    background-color: #60c5ac;
    border-color: #60c5ac;
    color: #fff;
}
ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front{max-height:150px; overflow-y:auto;}
.btn-primary:hover {
    background-color: #60c5ac;
    border-color: #60c5ac;
    color: #000;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #000;
    background-color: #60c5ac;
    border-color: #60c5ac;
}
.btn-primary.focus, .btn-primary:focus {
    color: #000;
    background-color: #60c5ac;
    border-color: #60c5ac;
}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a {
    background:#60c5ac;
    color: #f6f6f6;
}
.form-group.spaces-admin span {
    margin-left: 5px;
}
.form-group.spaces-admin input {
    margin-top: 15px;
}
.well-btns a {
    background: #33baec;
    padding: 10px;    margin-top: 45px;
    border: 1px solid #33baec;
}
.box-body .list-group-item.list-group-item-info {
    background: #fff none repeat scroll 0 0;
}
.dataTables_paginate.paging_simple_numbers {
    float: right;
    margin-right: 30px;
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #60c5ac;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.btn-success {
	background-color: #00a65a;
    border-color: #008d4c;
    border-radius: 2px;
    padding: 5px 15px;
    font-weight: 700;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #222d32;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #60c5ac;
}
.main-header .logo{    height: 60px;}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#user_edit_from .form-group, #user_add_from .form-group{
  margin-right: 0px;
  margin-left: 0px;
}

h3.box-title{width:100%; float:left;}
.box-title.heading-agent{border-bottom: 1px solid #eee; padding: 0px 0 10px 0;}
#user_add_from input{border: 1px solid #ccc; border-radius: 4px;}
#user_add_from select{border: 1px solid #ccc; border-radius: 4px;}
#user_add_from p{margin:0px; font-size: 15px;}

#user_edit_from input{border: 1px solid #ccc; border-radius: 4px;}
#user_edit_from select{border: 1px solid #ccc; border-radius: 4px;}
#user_edit_from p{margin:0px; font-size: 14px;}
#login .has-feedback label~.form-control-feedback {top: 0px;}
.login-logo, .register-logo{margin-bottom: 0px;float: left; padding: 20px; width: 100%;}
.login-box-body .text-center h3{font-size: 18px;}
.role-permission td{width:10%;}
.role-permission td:first-child(1){text-align:left !important;}

.box-footer .pull-right a.btn.btn-default{margin:0 10px 0 0;}
.editrole-permission td{width:10%;}
.editrole-permission td:first-child(1){text-align:left !important;}
.user-list{margin:10px 4px 10px 0; }
.req-field{color: red;}
#agent_edit_from .form-group{margin-right:0px; margin-left:0px;}
#agent_edit_from input, #agent_edit_from select{border:1px solid #ccc;}
#agent_edit_from p{margin:0;font-size:11px}
span.remove_pic_cat {    position: absolute;    top: -7px;    color: red;    right: 0px;}
.sidebar-menu .treeview-menu{padding-left: 25px !important;}
.sidebar-collapse .sidebar-menu .treeview-menu{padding-left: 0px !important;}
.login-box-body form .btn.btn-flat, .login-box-body form .form-control{border-radius: 2px;}


.ticket-view .ticket-head{text-align:right}
.ticket-view p{width:100%; float:left;}
.ticket-view p span a{padding-right:15px;}
.ticket-view  a.btn{float:right; margin:25px 0 0 0;}
/*
.ticket-tabs1{width:100%; float:left; position:relative;margin:15px 0;}
.ticket-tabs1 ul{width: 100%; float: left; padding:0; border-bottom: 1px solid #ccc;padding:0px;}
.ticket-tabs1 li{list-style:none;display:inline; margin:0 0px 0 0;}
.ticket-tabs1 li{float:left; padding:10px 15px; background:#fff; border:1px solid #fff; border-bottom:0px;}

.ticket-tabs1 li:hover, .ticket-tabs li.active{padding:10px 15px; background:#f5f5f5; border:1px solid #ccc; border-bottom:0px; color:#000}
.ticket-tabs1 li:hover a, .ticket-tabs li.active a{color:#000;}
*/
.tab-content{padding:15px 0;}
.ticket-add{position:absolute; right:15px; top:20px; background:#3c8dbc; color:#fff; padding:10px 15px; font-size:15px; font-weight:normal}
.onoffswitch-ticket{text-align:right}
.onoffswitch {position: relative; width: 90px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none; float:right;}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {content: "OFF"; padding-right: 10px; background-color: #EEEEEE; color: #999999; text-align: right;}
.onoffswitch-switch {display: block; width: 33px; margin:0 0 5px; background: #FFFFFF; position: absolute; top: 0; bottom: 0; right: 56px; border: 2px solid #999999; border-radius: 20px; transition: all 0.3s ease-in 0s;}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {margin-left: 0;}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {right: 0px;}

.status-view-ticket{padding: 4px 15px; background: red; color: #fff; border-radius: 2px; width: 100%; float: left; text-align: center;
    font-size: 15px;}
.ticket-view-task img, .ticket-view-more img{width: 50px; height: 50px; border: 1px solid #ccc; border-radius: 100%; float:left; margin:0 15px 0 0;}
span.remove_pic {
    cursor: pointer;
}

/*28-04-17 crate dharma*/
.drop_uploader.drop_zone {
    border: none !important;margin-top: 0px !important;
}
input#upload-file-selector{margin-top: 25px}
.frnt_back_view .up-blog { background: #ccc; height: 295px; cursor: pointer; position: relative; }
.frnt_back_view .drop_uploader.drop_zone .text { color:transparent;  }
.frnt_back_view .drop_uploader.drop_zone ul.files.thumb li div.thumbnail {

background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: #e1e1e1;border-radius: 0px;
}
.input-btn{ margin:0 auto; }
.d-amount{float: left; position: absolute; left:173px; width: 80px; top: 9px; margin-left: 10px;}

.threeblogs .box-title.heading-agent {
    font-weight: bold;
}
.col-md-6.pckg_right .input-group {
    margin-bottom: 15px;
}


.ticket-view-approvals, .ticket-view-discussions, .ticket-view-task, .ticket-view-more{width:100%; float:left;margin:0 0 40px; padding:0 0px;}
.ticket-view-document a, .ticket-view-discussions a, .ticket-view-task a{font-size:16px;}
.ticket-view-document a i, .ticket-view-discussions a i, .ticket-view-task a i{font-size:18px; color:#000; padding:0 5px 0 0;}
.ticket-view-task  td:first-child{width:15px;}
.ticket-view-discussions  img{width: 50px; height: 50px; border: 1px solid #ccc; border-radius: 100%; float:left; margin:0 15px 0 0;}
.ticket-view-approvals  img{width: 50px; height: 50px; border: 1px solid #ccc; border-radius: 100%; float:left; margin:0 15px 0 0;}
.photography-ticket a{font-size: 16px;}
.photography-ticket span{float:right; font-size: 15px;}
.ticket-head-document{border-bottom:1px solid #ccc; float: left; width: 100%; margin: 0 0px 15px;}
.ticket-head-document h3{font-size:14px; font-weight:bold;}
.ticket-service{width:100%; float:left; padding:15px;background: #f5f5f5; text-align: center; margin:0 0 30px; min-height: 255px; cursor:pointer;}
.ticket-service img{width:100px; height:100px; margin: 0 0 10px; }
.ticket-service p{text-align:center;     font-size: 16px;
    margin: 0;}
.lode-ticket{text-align: center;background: #ccc; padding:10px; color:#ccc;}
.btn.btn-primary.user-list-search{width:100%;}
.form-horizontal .form-group{margin:0 0px 15px!important;}
.table-responsive{overflow-x: hidden !important; width:100%; float:left;}

span.remove_pic1 {
    position: absolute !important;
    top: 0px !important;
    left: 155px !important;
    color: red;
    cursor: pointer;
}

/*26-12-2016*/
.info-box-content{width:100%; float:left; text-align:right; margin-left:0px !important;}
.info-box-number{font-size:30px !important; font-weight:normal  !important;}
.info-box-text{text-transform:initial !important; font-size:16px !important;}
ul.status-dashboard{list-style: none; padding: 0; margin: 0;}
ul.status-dashboard li{display: -webkit-inline-box; padding: 0 0 0 10px;}
/*26-12-2016*/

/*27-12-2016*/
.sweet-alert .sa-icon.sa-warning.pulseWarning{display:none !important;}
.sweet-alert h2{font-size:20px !important; margin:10px 0 !important;}
.status-pending{background:#67c5df; padding: 2px 15px 5px; border-radius: 4px; color:#fff;}
.is-ticket:hover, .not-ticket:hover, .status-pending:hover, .status-approved:hover, .status-rejected:hover{color:#fff;}
.status-approved{background:#01bc8c; padding: 2px 15px 5px; border-radius: 4px; color:#fff;}
.status-rejected{background:#ff6633; padding: 2px 15px 5px; border-radius: 4px; color:#fff;}
.is-ticket{background:#ff6633; padding: 2px 15px 5px; border-radius: 4px; color:#fff;    width: 50%;    float: left;    text-align: center;}
.not-ticket{background:#67c5df; padding: 2px 15px 5px; border-radius: 4px; color:#fff;    width: 50%;    float: left;    text-align: center;}
.form-group.change-status{float: left; margin:0 15px 0 0;}
.error{color: red; margin:0px; font-weight:normal;}
.status-pending{ background:#67c5df; padding: 2px 15px 5px; width: 100%; float: left; text-align: left;}
.status-approved{ background:#01bc8c;padding: 2px 15px 5px; width: 100%; float: left; text-align: left;}
.status-rejected{ background:#ff6633; padding: 2px 15px 5px; width: 100%; float: left; text-align: left;}
.breadcrumb > .active{color: #3c8dbc !important; font-weight: 700 !important;}
.task-status, .doc-status, .discussion-status, .approval-status{    text-align: center;    background: #cecdcd;    padding: 10px;    width: 100%;    float: left; border-radius:4px; margin: 20px 0;}
.task-status h4, .doc-status h4, .discussion-status h4, .approval-status  h4{font-size: 20px; margin: 0 0 10px; float: left; width: 100%;}
.status-count{width: 100%; float: left; text-align: center; margin: 20px 0;}
.status-count .status-active{width: 25%; background: #fff; padding: 20px; border-radius: 100%; margin: 20px 0; margin: 0 auto; border:2px solid #3c8dbc; font-size:20px; color:#000;}
.status-count span{font-size:20px}
span.remove {    position: absolute;    z-index: 999;    right: 30px;    color: red;    top: 15px;    cursor: pointer;}
/*27-12-2016*/
/*29-12-2016*/
.doc-info{width: 50%; float: left; margin:0 0 20px;}
.ticket-service .doc-info i{    background: #fff;
    padding: 11px 0 0 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid #ccc;
    text-align: center;
    font-size: 21px;
    margin: 0 0 0px;}
.doc-info1{width: 100%; float: left; text-align: center;}
.doc-info1 i{background: #fff; width: 50px; height: 50px; padding: 16px; border-radius: 100%; border: 3px solid #ccc; text-align: center;}
/*29-12-2016*/
.ticket-view-page .ticket-view-more p{width:auto; float:right}
.ticket-view-page p{width:100%; float:left;}
.ticket-view-page  a.btn{float:right; margin:25px 0 0 0;}
.priority-high{background:#ff6633; padding: 2px 15px 5px; width: 100%; float: left; text-align: left; border-radius: 4px; color:#fff;}
.priority-none{background:#ccc; padding: 2px 15px 5px; width: 100%; float: left; text-align: left; border-radius: 4px; color:#fff;}
.status-completed{background:#009651; padding: 2px 15px 5px; width: 100%; float: left; text-align: left; border-radius: 4px; color:#fff;}
.items span { display: inline-block; margin: 5px; padding: 5px; border: 1px solid #ccc;}
.form-control.error{border-color:red !important;}
.fileupload-new .btn-file{margin: 10px 0 0 0px !important;}
.input-group{position:relative}
.input-group label.error{position:absolute; top: 35px; left: 0;}
#charity_create_popup .fileupload-new .img-pview{width: 150px;height: 150px; margin-top:10px; border:1px solid #ccc}
.heading-agent{font-size:17px;border-bottom: 1px solid #f4f4f4; padding: 0 0 10px 0px;}
.modal-body.status_body .table thead td{font-weight:bold;}
.breadcrumb > .active{color: #3c8dbc  !important; font-weight: 700 !important;}
.ticket-view a.addService{margin:0px;}
#role_val_form tbody td:first-child{text-align:left;}
#val_edit_form .login-email{border-right:0px;}
#role_edit_val_form tbody td:first-child{text-align:left;}
.content-header .content-header>h1{font-weight:600 !important;}
.box-header h3.box-title{font-weight:600 !important;}

.bootstrap-tagsinput {width: 100%; float: left; border-radius: 0px; font-size: 14px;}
.tag.label.label-info{float: left; font-size: 13px; margin-bottom: 2px;}

/*6-jan-2017*/
#pwd_shw{cursor: pointer;}
/***************/
input#profile_logo {
    color: transparent;
}
#charity_edit_popup .modal-footer {
    border-top-color: #f4f4f4;
    clear: left;
}
#charity_edit_popup span.remove_pic {
    position: absolute;
    top: -4px;
    color: red;
    right: 0px;
}
#charity_edit_popup .upload_bx {
    padding-left: 5px;
    margin-top: 5px;
}
#charity_edit_popup .upload_btns {
    padding-left: 10px;
}
input#edit_img_pic {
    color: transparent;
}
#charity_edit_popup .fileupload.fileupload-new {
    position: relative;
    max-height: 200px;
    overflow: hidden;
}

.defult-form .image-label{width:100%; float:left; text-align:left !important;}
.defult-form .fileupload.fileupload-new {position:relative !important;}
.defult-form .fileupload.fileupload-new span.remove_pic,.defult-form .fileupload.fileupload-new span.edit_remove_pic{position: absolute !important;top: 0px !important;left: 145px !important;color: red;cursor: pointer;}

/*10-01-2017*/
.task-ticket span{padding:0 0px 0 15px; text-align:right;float:right}
.task-ticket span i{padding:0 10px 0 0px;}

/*10-01-2017*/


/*12-01-2017*/
.noteices-text{width: 100%; float: left;font-size: 12px;}
#adtl_emails .modal-body .form-group{width:100%; float:left;}
/*12-01-2017*/

.ticket-view-task .tasks_list td{width: 100px; text-align:center;}
.ticket-view-more .tasks_completed_list td{width: 195px;text-align:center;}
.ticket-view-task #reorder td:first-child{text-align:left; width:3%; cursor:move; padding-left:0px;}
.ticket-view-task.task_view th{padding-left:0px; padding-right:0px;}

.ticket-view-task .tasks_list td:nth-child(2) a{float:left}
.ticket-view-more .tasks_completed_list td:first-child{text-align:left;}
.btn-file input#profile_logo {
    border: none;
}
#charity-create span.remove_pic {
   position: absolute;
top: -4px;
color: red;
left: 162px;
}
.fileupload.fileupload-new {
	position:relative
}

.comments_list tr td:first-child{width:70px;}
#charity_create_popup .modal-footer {
    border-top-color: #f4f4f4;
    clear: left;
}
.ticket-view-task .tasks_list .task_status{margin:5px 10px 0 0; float: left;}
.ticket-view-more .tasks_completed_list .task_status{margin:5px 10px 0 0; float: left;}
.ticket-view-task .table-responsive{overflow-x:inherit !important; }
.ticket-view-task .tasks_list .dropdown-menu li span{background: #f5f5f5; width: 100%; float: left; padding: 5px;}
/*16-01-2017*/
.service-new {width:100%;float:left;margin:20px 0 0; border:1px solid #f7f7f7; padding:15px}
.service-new span{text-align: center; font-size: 15px; margin: 5px 0 0 0;}
#service-details{    width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 15px}
/*16-01-2017*/

/*17-01-2017*/
.drop_uploader{
    position: absolute;
    top: inherit;
}
.main_upload_blogs .up-blog input {
    width: 100%;
    cursor: pointer;
    left: 0;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    color: transparent;
    opacity: 0;
    top: 0px;
    z-index: 999;
}
.ticket-tabs{margin:20px 0 0;}
.ticket-view .ticket-view-task{margin-top:20px;}
.ticket-view-task .table>thead>tr>th{border-bottom:1px solid #f4f4f4}
#newTask .table>tbody>tr>td, .positionNewTask .table>tbody>tr>td{border:none;}
.ticket-view  .ticket-view-task td a.btn{float:left;margin: 0 10px 0 0}
.ticket-view  .ticket-view-task td .dropdown .dropdown-toggle{float:right;margin: 0 0px 0 0}
.ticket-view  .ticket-view-task td a i{color:#fff;padding:0px;}
.task-view-headings{float:right; font-size:14px !important;}
.tasks_list td span.img-text-task{margin:10px 0 0 0;font-size:15px; float:left;text-align:left;width:200px;}
.tasks_completed_list td span.img-text-task{margin:10px 0 0 0;font-size:15px; float:left;}
.ticket-view-task .priority_task{float: left; width: auto;}
.ticket-view-task .dropdown-menu li:last-child a{    clear: inherit;}
.ticket-view-more p.ticket-view-more{width:auto; float:right; margin:20px 0 0;}
.ticket-view-task .positionNewTask  td:first-child{display:none;}
.task-ticket-form p input{float: left; margin: 4px 8px 0 0px;}
.ticket-view-task .dropdown-menu li a.priority_task:first-child{background: red; color: #fff; padding: 3px 27px;}
.doc_upload{margin: -2px 25px 0px 0px; font-size: 14px !important; float: left;}
.doc_upload i{margin: 0 3px 0 0px;}
.folder_create{font-size: 14px !important; margin: -2px 25px 0px 0px;float:left}
.folder_create i{margin: 0 3px 0 0px;}
.ticket-service i{font-size: 100px; color: #ccc; margin: 30px 0 30px;}
.ticket-service h4{margin: 0 0 20px;}
/*17-01-2017*/

/*19-01-2017*/
.document-breadcrumb{padding:0px;list-style-type:none; margin:11px 0 0;}
.document-breadcrumb li{display:inline; padding:0px;}
.document-breadcrumb li a{font-size: 14px; font-weight: bold;display:inline; padding:0px; color:#000;}
.document-breadcrumb li.active a{color:#3c8dbc;}
.document-breadcrumb li:last-child span{display:none;}
.document-breadcrumb li span{padding:0px 5px;}
.document-edit .doc_popup{float:left;}
.document-edit .dropdown{float:right;}
.document-edit .dropdown a{margin:0px;}
body .loading{position: absolute; left: 0; right: 0px; top: 0; background:rgba(204,204,204,0.5); z-index: 9999; bottom: 0; padding: 350px 0 0px 700px;}
body .loading img{width:10%;}
.ticket-view .tasks_completed_list .dropdown-toggle{margin:0px;}
.sing_desc{float:left;}
/*19-01-2017*/





/*discussion 20-1-2017*/
.discussion-ticket-create img{width: 50px; height: 50px; border-radius: 100%; float: left;}
.discussion-ticket-create img{width: 50px; height: 50px; border-radius: 100%; float: left;}
.discussion-ticket-create .checkbox input[type="checkbox"]{margin-left:0px !important;}
.ticket-view-discussions h5{font-size: 15px; margin: 0px;}
.ticket-view-discussions h4{font-size: 16px; margin:0 0 20px;}
.ticket-view-discussions .discussion_view tr{border-bottom:1px solid #ccc;}
/*discussion 20-1-2017*/


/*23-01-2017*/
#ticket-id .nav-tabs li.active a{cursor:pointer;}
.discussion-list-text td:first-child{width:170px;}
.discussion-list-text td:first-child span{margin:8px 0 0 0;float:left;}
.post-message {font-size: 14px !important; margin: 0px 25px 0px 0px;}
.post-message i{margin:0 3px 0 0px}
.no-result{text-align: center !important; font-size: 19px; padding: 40px 0 !important; border-top: 0 !important; color: #ccc;}
.ticket-view-task .tasks_list td:last-child{width:50px;}
.box-header{padding:15px !important;}
.ticket-view-task .tasks_list .dropdown-menu {top: 99%; left: -59px;margin: 37px 0 0;}
.ticket-view-discussions th{padding-left:0px !important;padding-right:0px !important;}
/*23-01-2017*/


/*24-01-2017*/
.note-editor.note-frame .note-editing-area .note-editable{min-height:150px;}
.ticket-view-discussions  td{border-top:none !important;}
.discussion_view td:first-child{width:70px;}
.discussion-form .checkbox{margin-left: 20px;}
.discussion-form h3{font-size:20px; font-weight:500}
.notices{font-size: 14px; font-style: italic;}
.ui-draggable-dragging{zoom:0.8; cursor:pointer}
.ui-draggable-dragging .ticket-service{background:rgba(161, 226, 187, 0.28) !important}
.document-edit .dropdown-menu{min-width:100px !important;}
.small-box .inner p{float:inherit; font-size:18px; color:#fff;}
.small-box .inner{padding:15px !important;}
.small-box .inner h3{color:#fff;}
.head-tickets{font-size:20px !important; font-weight:500 !important;}
/*24-01-2017*/

#ui-datepicker-div{z-index: 9999 !important}

#ui-datepicker-trigger{
  position: absolute;
    top: 36px;
    right: 27px;
}
.request-bag-admin td {
    padding: 3px 0px;
}
.request-bag-admin td:first-child {
    min-width: 120px;
	font-weight: 700;
}
.details-sec {
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
.sending-bag-sec .heading-agent {
    text-align: left;
}
.sending-bag-sec {
	text-align: center;
}
.sending-bag-sec p {
	margin-bottom: 15px;
    margin-top: 10px;
	font-weight: 700;
}
.sending-bag-sec p a {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
	font-weight: 400;
	text-decoration: underline;
}
.row.process-bag-steps {
	margin: 0;
	padding-bottom: 60px;
	text-align: left;
}
.process-bag-steps h4{
	font-size:16px;
	font-weight: 700;
}
.process-bag-steps input[type="text"] {
	display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.download-btn {
	padding: 3px 25px;
}

#events-create .input-group label.error{top:60px;}
.add-event-error .error{top:55px;position: absolute;}




  font-weight: 700;
}
.user-request-sec h4 {
  font-weight: 700;
}
.ticket-sec .media {
  margin-bottom: 40px;
}
.ticket-sec .media h4 {
  display: inline-block;
  font-weight: 600;
}
.ticket-sec .media img {
  width: 80px;
}
.ticket-sec .media .media-left {
  padding-right: 20px;
}
.ticket-sec .media .media-body {
  padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.ticket-sec .media .media-left {
  text-align: center;
}
.input-group.url-adevent label.error {
    top: 32px !important;
}
.ticket-sec .media-body ul {
  list-style-type: none;
  padding-left: 0;
}
.user-request-sec .form-control {
    width: 60%;
}
@media only screen and (min-width : 1300px) {

	.row_pregt .radio {
		width: 15%;
}
	.row_pregt.radio-btn-align .radio {
    width: 30%;
}
}


@media only screen and (max-width : 1280px) {
#dtTable{width:100% !important;}
.ticket-view-task .tasks_list td{width:60px;}
}

@media only screen and (max-width : 800px) {
.is-ticket, .not-ticket{width:100%;}
.agent-list-page .form-control, .user-list-table .form-control{width:200px;}
.table-responsive{overflow-x: auto !important;}
}


@media only screen and (min-device-width:768px) and (max-device-width:1024px){
    .multi_div:nth-child(2n+1){margin-left: -10px !important;}
    .multi_div{width: auto;}
    .threeblogs.edit_admin_cstume {
    width: 100% !important;
}
    .threeblogs.c_edit_csmts .col-md-3.col-sm-4.col-xs-12 {
    width: auto;
}
.threeblogs.upload-photo-blogs .col-md-3.col-sm-4.col-xs-12 {
    width: auto;
}
	.multi_thumbs.pip {
    min-height: 298px; width: 198px}
	.c_edit_csmts span.text a{height: 200px;}
	.edit_thumbs {
    width: 100% !important;
}
	.drop_uploader.drop_zone ul.files.thumb li div.thumbnail {
    width: 200px;
    height: auto !important;}
	.threeblogs {
    display: inherit;
}
#other_thumbnails {
    width: 100%;
}
.frnt_back_view .up-blog {
    background: #ccc;
    height: 298px;
    cursor: pointer;
    position: relative;
}
	#messaging_div .media-left {
    width: 25%;
    text-align: center;
}
  .fileupload.fileupload-new.frnt_view_img {

    max-height: inherit;
}
.cupn_catries {
    padding-left: 0px;
}
.defult-form .fileupload.fileupload-new {
    max-height: 50px;
    overflow: hidden;
}
} 


@media only screen and (min-width : 768px) {
	div#activity_yes_div .radio-inline {
    width: 40%;
    float: left;
    margin-left: 0px;
}
#cosplayplay_yes_div .radio-inline {
    margin-left: 0px;
    width: 40%;
    float: left;
}
#uniquefashion_yes_div .radio-inline {
    width: 40%;
    margin-left: 0px;
}
#activity_yes_div .radio-inline {
    width: 30%;
    margin-left: 0px;
}
.col-md-6.cate_edit_csotumes {
    padding-left: 0px;
}
.form-group.cate_edit_pic .ban_img.fileupload.fileupload-new {

   max-height: 200px;
    overflow: hidden;
}
.cate_edit_pic .cat_img.fileupload.fileupload-new {

    max-height: 200px;
    overflow: hidden;
}
	.orders_list_div_dashboard table#dtTable thead tr th:nth-child(2) {
    width: 18% !important;
}
.costume_creates_pages .fileupload.fileupload-new {
    min-width: 150px;
    min-height: 150px;
    overflow: hidden;
}

.costume_creates_pages .fileupload.fileupload-new img {
    padding-bottom: 20px;
    min-width: 150px;
    max-height: 150px; max-width: 150px;
}
.main-header .logo .logo-sm{display:none;}
}

@media only screen and (min-width : 1025px) {
    .threeblogs.edit_admin_cstume .col-md-4.col-sm-4.col-xs-12.multi_div {
    width: auto;
}
    .threeblogs.c_edit_csmts .col-md-3.col-sm-4.col-xs-12 {
    width: 20%;
}
/*.threeblogs.c_edit_csmts .up-blog input {
    width: 100%;
    cursor: pointer;
    left: 0;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    color: transparent;
    opacity: 0;
    top: 0px;
}*/
    .threeblogs.upload-photo-blogs #other_thumbnails .multi_div {
    width: 27%;
}
.threeblogs.upload-photo-blogs .col-md-3.col-sm-4.col-xs-12 {
    width: 237px;
}
#other_thumbnails .multi_div img {
    width: 198px;
}
	.threeblogs.upload-photo-blogs .col-md-3.col-sm-4.col-xs-12 {
    width: 20%;
    text-align: center;
}
	.threeblogs.edit_admin_cstume {
    width: 55%;
}
.threeblogs {
    width: 1170px;
}
	
}

@media only screen and (max-width : 767px) {
    .threeblogs.edit_admin_cstume{width: min-content !important;}
    .img-pp-iner img.img-responsive.crp2 {
    float: right;
    margin-right: 5px !important;
}
.upload-photo-blogs .up-blog {
    max-height: 298px !important;
    overflow: hidden;
    height: auto;
}

.img-pp-iner {
    width: 90% !important;}
    form#customer_edit1 .box-footer {
    display: inline-block;
    margin-top: 15px;
}
	.blog-sec nav.breadcrumb{font-size:12px;}
	.multi_div .remove_pic i.fa.fa-times-circle{    right: 5px; top:5px}
#other_thumbnails .col-md-4 {
    padding: 0px 15px;  /*  width: auto !important;*/
}
	span.text a{height: 200px !important;}
	.heading-agent{padding: 0 0 10px 15px;font-size: 15px;}
	.drop_uploader.drop_zone{min-height:auto !important;}
	.frnt_back_view .up-blog {
    height: 298px;

}
.multi_thumbs.pip {
min-height: 298px;max-height: 298px;    width: 198px; margin: 0 auto;}
	.drop_uploader.drop_zone .text_wrapper{    padding-bottom: 0 !important;}
.threeblogs {
    display: inherit;
    width: 200px;
    margin: 0 auto;
}
	.multi_div:nth-child(3n+1) {
    margin-bottom: 20px;
    margin-left: 0px;
}
	#other_thumbnails .col-md-4 {
    padding: 0px;
}
#other_thumbnails {
    width: 100% !important;
    margin-left: 15px;
}
.table-responsive.cate_search_div #dtTable_filter {
    float: right;    margin-right: 15px;
    margin-top: 15px;
}
.cate_edit_csotumes {
    padding-left: 0px;
}
.form-group.cate_edit_pic .ban_img.fileupload.fileupload-new {
    margin-left: -30px;
    margin-top: 15px;    max-height: 200px;
    overflow: hidden;
}
.cate_edit_pic .cat_img.fileupload.fileupload-new {
    padding-left: 0px;
    margin-left: -30px;
    margin-top: 15px;    max-height: 200px;
    overflow: hidden;
}
.cate_edit_pic .upload_bx {
    padding-left: 0px;
    margin-top: 5px;
}
	#messaging_div .media-left {
    width: 20%;
    text-align: center;
}
    .form-group.has-feedback.cosutme-fr label.radio-inline {
    width: 40%;
    float: left;
    margin-left: 0px;
}
	.create-admin_pagess label.radio-inline {
    width: 47%;
    float: left;
    margin-left: 0px;
}
#category-create .cat_img.fileupload.fileupload-new{margin-left: -30px;
    margin-top: 15px;}
	#category-create .ban_img.fileupload.fileupload-new{margin-left: -30px;
    margin-top: 15px;}
	#charity_edit_popup .fileupload.fileupload-new {
    position: relative;
    max-height: 100px;
    overflow: hidden;
    margin-left: -15px;
    margin-top: 10px;
}
	#charity-create .fileupload.fileupload-new{padding-left:0px;}
 #category-create .defult-form .fileupload.fileupload-new{
		margin-left: -30px;
    margin-top: 7px;
	}
	.cupn_catries {
    padding-left: 0px;padding-right: 0px;
}

/* 	.main-header .logo .logo-lg{display:none;} */
.main-header .logo img {    width: 130px;      margin-top: 5px;}
.skin-blue .main-header .logo{background-color: #fff;}
.main-footer .pull-right{width:100%; float:left; text-align:center;}
.main-footer{text-align:center;}
#dtTable_paginate{text-align: center; width: 100%; float: left; margin: 10px 0;}
.content-header>h1{margin:}
.form-group.change-status{width:100%; margin:0 0 10px;}
.ticket-view-approvals, .ticket-view-document, .ticket-view-discussions, .ticket-view-task{padding:0px;}
.ticket-view-discussions  img{float:inherit}
}




@media only screen and (max-width : 320px) {
  .tag.label.label-info{font-family: 11px;}
}

/*28-04-17 dharma */
@media only screen and (max-width : 991px) {
 .skin-blue .input-group{ margin-bottom: 10px; }
}
