body{color:#666666;font-size:14px;line-height:1.42857;	font-family: Proxima-Nova-Regular;;margin:0px;padding:0px;}
section.top_nav span{color:#60c5ac;}

/***************Fonts Start **************/

/*@font-face {
	font-family: Proxima-Nova-A-Regular;
	src: url('../fonts/proxima_nova_a-webfont.woff2');
}

@font-face {
	font-family: Proxima-Nova-A-Semibold;
	src: url('../fonts/proxima_nova_a_semibold-webfont.woff2');
}

@font-face {
	font-family: Proxima-Nova-A-Bold;
	src: url('../fonts/proxima_nova_a_bold-webfont.woff2');
}

@font-face {
	font-family: Proxima-Nova-A-Extrabold;
	src: url('../fonts/proxima_nova_a_extrabold-webfont.woff2');
}*/

/* */

@font-face {
    font-family: 'manustrialregular';
    src: url('../fonts/mns_trial-webfont.woff2') format('woff2'),
         url('../fonts/mns_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'manustrialmanustrial';
    src: url('../fonts/mns_trial-webfont.woff2') format('woff2'),
         url('../fonts/mns_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: Proxima-Nova-Regular;
	src: url('../fonts/proxima_nova-webfont.woff2');
}

@font-face {
	font-family: Proxima-Nova-Semibold;
	src: url('../fonts/proxima_nova_semibold-webfont.woff2');
}

@font-face {
	font-family: Proxima-Nova-Bold;
	src: url('../fonts/proxima_nova_bold-webfont.woff2');
}

@font-face {
	font-family: Proxima-Nova-Extrabold;
	src: url('../fonts/proxima_nova_extrabold-webfont.woff2');
}
/* */


/* */
@font-face {
	font-family: Proxima-Nova-S-Regular;
	src: url('../fonts/proxima_nova_s-webfont.woff2');
}

@font-face {
	font-family: Proxima-Nova-S-Semibold;
	src: url('../fonts/proxima_nova_s_semibold-webfont.woff2');
}

@font-face {
	font-family: Proxima-Nova-S-Bold;
	src: url('../fonts/proxima_nova_s_bold-webfont.woff2');
}

@font-face {
	font-family: Proxima-Nova-S-Extrabold;
	src: url('../fonts/proxima_nova_s_extrabold-webfont.woff2');
}




/***************Fonts End **************/
#main-banner .carousel-control.left {display: none;}
#main-banner .carousel-control.right {display: none;}
.top_nav_div p{margin:0px;font-family:Proxima-Nova-Semibold; }
.top_nav_div{background:#323031;color:#fff;padding:14px 0;font-size:16px;}
.top_nav li{display:inline;margin-right:12px;}
.top_nav li:last-child{margin-right:-0px!important;}
.top_nav li.dropdown .fa{padding-left:8px;}
.top_nav ul{padding-left:0px;}
.top_nav ul li a{color:#fff;font-family: Proxima-Nova-Regular; font-size:16px}
.top_nav{text-align:right;}
.top_nav ul li a:hover{text-decoration:none;color:#fff;}
.top_nav ul.dropdown-menu li {padding-bottom: 0px;margin-right: 0px;}
.top_nav ul.dropdown-menu li a {color: #000;}
.top_nav .open>.dropdown-menu {z-index: 9999;border-radius: 0px;margin-top: 14px; border-top: 3px solid #60c5ac;}
.top_nav ul.dropdown-menu:before {content: "";border-bottom: 12px solid #60c5ac;border-right: 8px solid transparent;border-left: 8px solid transparent;position: absolute;top: -15px;left: 23px;z-index: 10;}

/* Mobile Menu Css S */
.none-rm{display:none;}
.mobile-rm{width:300px;float:left;background:#fcfcfc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;font-family:'Lato',sans-serif;position:fixed;z-index:1000000;top:0;left:-90%;height:100%;overflow:hidden;overflow-y:auto;box-sizing:border-box;padding:5px 0;background-color:#fff;border:none;box-shadow:0 0 3px rgba(0,0,0,0.75);transition:all 0.6s ease-in-out;-webkit-transition:all 0.6s ease-in-out;-moz-transition:all 0.6s ease-in-out;}
.mobile-rm.toggle{left:0px;}
.nav-tabs.mobile-tabs{border:none!important;}
.nav-tabs.mobile-tabs>li{width:33.33%;}
.nav-tabs.mobile-tabs>li>a{font-size:16px;font-weight:bold;color:#fff;border:none;border-radius:0px;padding:15px 20px;margin:0px;background:#61c5ac;border:1px solid #4fa691;}
.nav-tabs.mobile-tabs>li.active>a,.nav-tabs.mobile-tabs>li.active>a:hover,.nav-tabs.mobile-tabs>li.active>a:focus{color:#61c5ac;border:none;background:#fff;border-radius:0px;font-family:'Lato',sans-serif;}
.nav-tabs.mobile-tabs>li>a:hover{background:#61c5ac;color:#fff;border:1px solid #4fa691;}
.mobile-tabsec{width:100%;float:left;padding:0;background:#fff;}
.mobile-content{width:100%;float:left;background:#fff;padding:30px 15px;}
.responsive-rm{width:100%;float:left;list-style:none;padding-left:5px;}
.responsive-rm .mobile-plus{float:right;cursor:pointer;}
.responsive-rm>li{font-size:14px;font-weight:800;color:#000;margin:10px 0;margin-bottom:25px;}
.responsive-inner{width:100%;float:left;list-style:none;margin:10px 0;}
.responsive-inner>li{font-size:14px;font-weight:bold;color:#000;margin:10px 0;}
.responsive-inner>li i{font-size:9px;float:right;margin-right:2px;}
.mobile-minus .fa-plus:before{content:"\f068"!important;}
.icon-rm{z-index:10000000;position:fixed;text-align:center;transition:all 0.6s ease-in-out;-webkit-transition:all 0.6s ease-in-out;-moz-transition:all 0.6s ease-in-out;border-radius:3px;left:15px;top:10px;background:#61c5ac;width:30px;height:30px;padding:2px;}
.icon-rm.btn-cross{left:310px;width:35px;height:35px;padding:5px 0 0px 0px;background:#61c5ac;transition:all 0.6s ease-in-out;-webkit-transition:all 0.6s ease-in-out;-moz-transition:all 0.6s ease-in-out;}
.icon-rm .toggle-btn{position:relative;display:inline-block;vertical-align:middle;height:13px;width:22px;}
.icon-rm .btn-line{position:absolute;display:inline-block;vertical-align:middle;top:6px;left:0;width:100%;height:2px;background-color:#fff;-webkit-transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;}
.icon-rm .btn-line:first-child{top:0;transform-origin:2px 1px;}
.icon-rm .btn-line:last-child{top:12px;transform-origin:2px 1px;}
.icon-rm.btn-cross .btn-line:first-child{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg);}
/* .icon-rm.btn-cross .btn-line:nth-child(2){-webkit-transform:scale(0);-moz-transform:scale(0);transform:scale(0);} */
.icon-rm.btn-cross .btn-line{background:#fff;}
.icon-rm.btn-cross .btn-line:last-child{-webkit-transform:rotate(-0deg);-moz-transform:rotate(-0deg);transform:rotate(-0deg);}
.alert-dismissable .close, .alert-dismissible .close{right: -5px;}
/* Mobile Menu Css E */

/* ACCOUNT SECTION Css S */
.head-acc-form{width:100%;float:left;padding:10px 0;}
.acc-form-rm{width:100%;float:left;position:relative;}
.head-acc-form p input{width:100%;float:left;border:1px solid #61c5ac;height:40px;border-radius:0px;padding:0 40px 0 10px;font-weight:bold;}
.head-acc-form .acc-form-rm .acc-form-icn{position:absolute;right:10px;top:10px;color:#60c3ab;}

/*ACCOUNT SECTION Page Css E */

/* support Css S */
.head-support{width:100%;float:left;padding:10px 0;}
.support-rm{width:100%;float:left;font-size:14px;color:#000;font-weight:bold;}
.support-rm1{margin:30px 0 0;}
.support-rm2{margin:0;font-weight:normal;}
.support-rm3{margin:30px 0 0;font-weight:normal;}

/* support Css E */
.carousel-control.left{background:none}
.carousel-control.right{background:none}
ul.nav.navbar-nav.mid_nav li.active a{background:none;}
.main_header nav.navbar.navbar-default.navbar-static-top{background:none;margin-bottom:0px;padding-bottom:7px;}
.container.main_menu ul li:first-child.dropdown.mega-dropdown:before{background:none;}
ul.nav.navbar-nav.mid_nav li a{font-size:22px;color:#323031;font-family:Proxima-Nova-Bold;padding: 10px 16px;}
ul.nav.navbar-nav.mid_nav li a.sell-btn{font-family: Proxima-Nova-Extrabold;background:#EE4266;border-radius:3px;color:#fff;padding:10px 35px;font-size:18px;}
.top_nav_div p span{color:#60c5ac;}
.main_menu_in{float:right;}
.main_navigation nav.navbar.navbar-default{margin-bottom:0px;background:none;border:none;}
.top_nav ul{margin-bottom:0px;}
.mega-dropdown{position:static!important;width:100%;}
.mega-dropdown-menu{padding:20px 0px;width:auto;left:inherit;box-shadow:none;-webkit-box-shadow:none;}
.steps-slider-div .carousel-control{color:#a0a0a0;font-weight:100;text-shadow:none;}
.mega-dropdown-menu:before{content:"";border-bottom:12px solid #60c5ac;border-right:10px solid transparent;border-left:10px solid transparent;position:absolute;top:-15px;left:17%;z-index:10;}
.mega-dropdown-menu:after{content:"";border-bottom:12px solid #60c5ac;border-right:10px solid transparent;border-left:10px solid transparent;position:absolute;top:-15px;left:17%;z-index:8;}
.quick_links:before{width:2px;height:190px;background:#f0f0f0;position:absolute;content:"";left:-18px;}
.main_menu li.dropdown.mega-dropdown.open ul.dropdown-menu.mega-dropdown-menu.row li a{	font-family: Proxima-Nova-Semibold;margin-bottom:5px; font-size:16px; color:#020202;}
.container.main_menu ul li:last-child.dropdown.mega-dropdown.open ul.dropdown-menu.mega-dropdown-menu:before{right:113px!important;left:inherit;}
.container.main_menu ul li:last-child.dropdown.mega-dropdown.open ul.dropdown-menu.mega-dropdown-menu:after{right:113px!important;left:inherit;}
.container.main_menu ul li:last-child.dropdown.mega-dropdown.open ul.dropdown-menu.mega-dropdown-menu.row{float:right!important;right:0px!important;}
.home_product_slider .owl-buttons .owl-prev{left:-30px;width:40px;height:40px;text-align:center;float:left;margin-left:10px;padding:5px 9px;position:absolute;top:40%;padding-top:9.5px;background:#f7f9fc;color:#a1a0a1;}
.home_product_slider .owl-buttons .owl-next{width:40px;height:40px;text-align:center;float:right;margin-right:10px;right:-30px;padding:5px 11px;position:absolute;top:40%;padding-top:9.5px;background:#f7f9fc;color:#a1a0a1;}
.container.main_menu ul li .fa-chevron-down{font-weight:100;font-size:12px;color:#010101;}
.main_banner .jumb-smll{padding-left:7px;}
.container.main_menu ul li a{color:#010101;}
.main_banner .jumb-bnr img{min-height:375px;}
.jumb-smll a:nth-child(1) img{margin-bottom:15px;}
.jumb-smll a img{max-height:180px;padding-right:8px;width:100%;}
.icon_lins.text-right ul li .btn{font-size:13px;margin-right:15px;margin-left:15px;font-family:Proxima-Nova-Semibold; color: #323031;}
.icon_lins.text-right ul li .btn:focus{outline:none;box-shadow:none;background:none;}
.icon_lins.text-right ul li .btn:hover{background:none;outline:none;box-shadow:none;}
.home_product_slider .slider_cnt{text-align:center;padding:10px 35px;}
.main_banner .jumb-bnr{max-height:375px;overflow:hidden;}
section.main_banner{background:#f7f9fc;}
.home_product_slider .slider_cnt p{color:#000;font-size:15px;font-family:Proxima-Nova-Extrabold;}

.home-adds .add1 img{min-height:185px;}

.home-adds{margin:40px 0px;}
.home_product_slider{position:relative;}
.home-adds .add2 img{min-height:185px;}
.news_letter{background:#f0f0f0;}
.home-adds .add1 img{min-height:185px;}
.main_navigation{background:#f7f9fc;}
.icon_lins.text-right ul li .btn{padding:0px;border:none;color:#656465;}
.icon_lins.text-right{float:right;padding:15px 0px;}
.icon_lins.text-right ul li:last-child{border-right:0px;margin-right:-15px;}
.container.main_menu ul li a.dropdown-toggle{font-size:18px;color:#010101;padding-left:25px;padding-right:25px;font-family: Proxima-Nova-Bold;}
.container.main_menu ul li{position:relative;}
.main_menu .navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{background:none;}
li.dropdown.mega-dropdown.open ul.dropdown-menu.mega-dropdown-menu.row{border-top:3px solid #60c5ac;}
.container.main_menu ul li.dropdown.mega-dropdown:before{content:"";display:block;width:2px;background-color:#010101;height:11px;position:absolute;top:41%;}
.icon_lins.text-right ul li{float:left;display:inline;padding-left:5px;color:#323031;border-right:1px solid #ccc;}
#newsletter-container h3{font-size:25px;line-height:46px;color:#444b4c;text-transform:uppercase;margin:0;float:left;}
#newsletter-container input[type=text]{height:46px;width:300px;vertical-align:top;margin-right:5px;border-radius:4px;border:3px solid #84bb26;background:#CFCECE;line-height:20px;padding:5px 10px 5px 20px;color:#727b7c;}
.newsletter-container h3{margin:0px;float:left;color:#000;margin-top:14px;font-family:Proxima-Nova-Extrabold;font-size:16px;text-transform:uppercase;margin-right:15px;}
section.newsletter-container{background:#f0f0f0;padding:21px 0px;}
form#register-newsletter input.btn.btn-custom-3{letter-spacing: 0.3px;font-size:19px;background:#60c3ab;    border-radius: 2px;color:#fff;padding:5px 15px;font-weight:800;margin-top: -5px;font-family: Proxima-Nova-Extrabold}
input[type="text"]:focus{outline:none;}
a.sell-btn .fa.fa-tag{font-size:14px;padding-right:5px;}
.mid_nav form.navbar-form.navbar-left{margin-top:0px;position:relative;padding-left:25px;padding-right:0px;}
.mid_nav form.navbar-form.navbar-left input::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
color:#323031;font-size:18px;font-weight:600;}
.mid_nav form.navbar-form.navbar-left input::-moz-placeholder{ /* Firefox 19+ */
color:#323031;font-size:18px;font-weight:600;}
.mid_nav form.navbar-form.navbar-left input:-ms-input-placeholder{ /* IE 10+ */
color:#323031;font-size:18px;font-weight:600;}
.mid_nav form.navbar-form.navbar-left input:-moz-placeholder{ /* Firefox 18- */
color:#323031;font-size:18px;font-weight:600;}
.icon_lins.text-right ul li .fa{font-size:18px;}
.mid_nav form.navbar-form.navbar-left input{font-family:Proxima-Nova-Semibold;height:40px;padding-left:55px;border:1px solid #e6e6e6;}
.mid_nav form.navbar-form.navbar-left i.fa.fa-search{position:absolute;margin-left:12px;top:12px;}
.social-fallow{padding-right:0px;padding-left:30px;}
input.btn.btn-custom-3:focus{outline:none;}
form#register-newsletter input[type="text"]{width:355px;border-radius:2px;font-family:Proxima-Nova-Regular; font-size:14px;box-shadow:none;height:40px;padding-left:15px;border:1px solid #b7b7b7;}
.social-icons a img{width:50px;}
.social-fallow h3{margin:0px;line-height:45px;}
.social-img{padding-left:0px;}
.btm-footer{background:#323031;}
section.footer h3 {font-family: Proxima-Nova-Extrabold;color: #000;font-size: 16px;}
.social-icons a{float:left;padding-left:5px;position:relative;padding-right: 5px;}
.footer h5{color:#020202;font-size:16px;font-family: Proxima-Nova-Extrabold;  }
.footer_head.mid_ft h5 {    margin-bottom: 28px;}
.quick_links{margin-top:5px;}
.quick_links ul li{margin-bottom:8px;font-family:Proxima-Nova-Regular;color: #020202;font-size: 15px; font-weight:600;}
.ft-logo p{font-family:Proxima-Nova-Regular;color:#020202;font-size:15px;padding-right:20px; font-weight:600;}
.quick_links:after{width:2px;height:190px;background:#f0f0f0;position:absolute;content:"";right:32px;top:0px;}
.btm-footer p{font-size:14px;text-align:center;padding:15px;margin:0px;color:#fff;font-family: Proxima-Nova-Regular;}
.quick_links h3{font-weight:800;font-size:16px;color:#020202;margin-bottom:30px;}
.footer{margin-top:30px;}
.quick_links ul{float:left;padding-left:0px;list-style-type:none;color:#020202;font-size:16px;}
.home_product_slider h2{text-align:center;margin:30px 0px;font-size:24px;font-family: Proxima-Nova-Bold;color:#323031;}
.home_product_slider .slider_cnt{text-align:center;}
.home_product_slider .slider_cnt h4{color:#323031;font-size:15px;font-family: Proxima-Nova-Semibold;}
.home_steps .media-body p{font-size:22px;line-height:22px;font-family: Proxima-Nova-Bold;color:#000;}
.steps-slider-div .media-body p{font-weight:800;color: #000;}
.steps-slider-div.hidden-sm.hidden-md.hidden-lg{padding: 20px 0px;}
.home_steps{padding:30px;}
.steps-slider-div .media-body h4.media-heading{font-weight:600;font-size:14px;}
.home_steps .media-body h4{font-size:18px;color:#50514f;color:#50514f; font-family: Proxima-Nova-Bold;}
.main_menu .mega-dropdown-menu{padding:20px 0px;width:auto;box-shadow:none;-webkit-box-shadow:none;float:right;left:inherit;}
.container.main_menu ul li{width:auto;}
.mega-dropdown-menu > li > ul{padding:0;margin:0;}
.mega-dropdown-menu > li > ul > li{list-style:none;}
.mega-dropdown-menu > li > ul > li > a{display:block;padding:2px 20px;clear:both;font-weight:normal;line-height:1.428571429;color:#999;white-space:normal;}
.mega-dropdown-menu > li ul > li > a:hover,.mega-dropdown-menu > li ul > li > a:focus{text-decoration:none;color:#444;background-color:#f5f5f5;}
.mega-dropdown-menu .dropdown-header{color:#428bca;font-size:18px;font-weight:bold;}
.mega-dropdown-menu form{margin:3px 20px;}
.mega-dropdown-menu .form-group{margin-bottom:3px;} 




/* List page CSS S */
.detailes_view_slider h2 {
    margin-bottom: 30px;
}
.detailes_view_slider h2 {
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
}
.detailes_view_slider .slider_cnt {
    text-align: center;
    padding: 10px 5px;
}
.detailes_view_slider .slider_cnt h4{font-size:14px;}
p.like_fav span i {
    margin-right: 5px;
}
.rng .price_amt {
color: #000;font-family: Proxima-Nova-Semibold; font-size:16px;
}
.rng div#price-range {
border: none;
}
.box-list1 li a {
color: #323031;
}
ul.holder.list_pagination {
border: 1px solid #e2e2e2;
}
ul.holder.list_pagination {
border: 1px solid #e2e2e2;
width: 100%;
display: flex;
padding: 10px;
}
.list_pagination a.jp-current {
background: #60c5ac;
color: #fff;
border: 1px solid #60c5ac;
}
.list_pagination a:hover {
text-decoration: none;
}
.list_pagination a {
font-size: 16px;
border: 1px solid #e2e2e2;
margin-right: 15px; color:#2f2d2e;
padding: 5px 10px;font-family: Proxima-Nova-Semibold;
}
.rng div#price-range {
border: none;
background: #d9d9d9;margin-bottom: 10px;
height: 8px;
border-radius: 0px;
}
.ui-slider-range.ui-widget-header.ui-corner-all {
background: #60c5ac;
}
.rng {
margin-top: 20px;
}
ul.box-list3.sizes li.active {
background: #60c5ac;
color: #fff;
}
/* .text_wrapper:after {
    content: "\f030";
    font-family: 'FontAwesome';
    text-align: center;
    font-size: 46px;
       padding: 195px 0px;
    left: 0;
    right: 0px;
}
.drop_uploader.drop_zone .text a.button.button-primary.file_browse {
    color: transparent;padding: 105px 0px;
} */
.drop_uploader.drop_zone ul.files.thumb{    padding-left: 27px;}
.drop_uploader.drop_zone ul.files.thumb li div.thumbnail{border-radius:0px !important; border:none !Important}
.drop_uploader.drop_zone .text{color:transparent !important}
.drop_uploader.drop_zone{border:none !important}
.box-list1 li a:hover {
text-decoration: none;
}
p.like_fav span.active i {
margin-right: 5px;color: #62c5bf;
}
p.like_fav span {
font-family: Proxima-Nova-Semibold;
}
.rng .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border-radius: 50%;
background: #fff !important;
box-shadow: 1px 1px 2px #ccc;}
	.rng .ui-slider-horizontal .ui-slider-range{height: 8px;}
.list-banner, .list-banner img{width: 100%; float:left;}
.list-box-rm{width:100%; float:left; border: 1px solid #e1e1e1; padding: 20px; font-family: Proxima-Nova-A-Regular; margin: 15px 0 0;}
.list-box-rma{border-top: 2px solid #11a89e;}
.list-box-head{width:100%; float:left; font-size: 16px; font-family: Proxima-Nova-Extrabold; border-bottom: 1px solid #e1e1e1; padding-bottom: 15px; margin: 0px; color: #323031;}
.box-list1{width: 100%; float:left; list-style: none; margin: 15px 0 0;padding-left: 0px;}


.box-list1 li{width: 100%; float:left; font-family: Proxima-Nova-Semibold; font-size: 18px; color: #323031; cursor: pointer; margin: 5px 0 0;}
.box-list1 li:hover,.box-list1 li.active{font-family: Proxima-Nova-Extrabold;} 

.list-box-subhead{width: 100%; float:left; font-size: 18px; font-family: Proxima-Nova-Extrabold; margin: 25px 0 0px;color: #323031;}
.list-box-texti{width: 100%; float:left; font-size: 14px; font-style: italic; font-family: Proxima-Nova-Semibold;}
.list-box-search{width: 100%; float:left; position: relative;}
.list-box-search input{width: 100%; float:left; height: 40px; border: 1px solid #e1e1e1; color:#323031; padding: 0 45px 0 15px;}
.list-box-search .box-search-arrw{cursor: pointer;width: 40px; float:left; height: 40px; line-height: 40px; text-align: center; background: #e1e1e1; position: absolute; right:0;}
.list-box-search input::-webkit-input-placeholder {color: #323031; font-family: Proxima-Nova-Semibold;}
.list-box-search input::-moz-input-placeholder {color: #323031; font-family: Proxima-Nova-Semibold;}
.list-box-search input::-ms-input-placeholder {color: #323031; font-family: Proxima-Nova-Semibold;}


.box-list2{width: 100%; float:left; list-style: none; margin: 10px 0 0;padding-left: 0px;}
.box-list2 li{width: 50%; float:left; font-family: Proxima-Nova-Semibold; font-size: 16px; color: #323031; cursor: pointer; margin: 5px 0;}
.box-list2 li input{float:left; margin: 4px 4px 0 0;}


.box-list3{width: 100%; float:left; list-style: none; margin: 10px 0 0;padding-left: 0px;}
.box-list3 li{width: 30%; float:left; font-family: Proxima-Nova-Semibold; font-size: 16px; color: #323031; cursor: pointer; margin: 5px 0; background: #e1e1e1; height: 40px; line-height: 40px; text-align: center;}
.box-list3 li.middle{margin: 5px 5%;}

.list-sec-rm{width: 100%; float:left; border: 1px solid #e1e1e1; padding: 10px; margin: 15px 0 0;}
.list-sec-rm1{float:left; font-size: 18px; font-family: Proxima-Nova-Extrabold; color: #323031; line-height: 30px; margin: 0px;}
.list-sec-rm2{float:right; margin: 0px;}
.list-sec-rm2 span{font-size: 18px; line-height: 30px; font-family: Proxima-Nova-Semibold; color: #323031; margin-right: 10px;}
.list-sec-rm2 select{width: 180px; height: 30px; line-height: 30px; font-size: 16px; padding: 0 10px; border: 1px solid #e1e1e1; font-family: Proxima-Nova-Semibold; color: #323031;}
.prodcut_list_page {margin-bottom: 50px;}
.list-box-rm .checkbox label, .radio label {min-height: 20px;padding-left: 20px;margin-bottom: 0;font-weight: 400;cursor: pointer;font-family: Proxima-Nova-Semibold;font-size: 18px;color: #323031;}
h2.list-box-head.filter {margin-top: 30px;}
.box-list1.narrow .checkbox {margin-bottom: 15px;}
h2.list-box-head.narrow-head {margin-top: 30px;}
.prod_box {
text-align: center;margin-bottom: 30px;
}
.prod_box .slider_cnt h4 {
color: #323031;
font-size: 15px;
font-family: Proxima-Nova-Semibold;
}
.prod_box .slider_cnt h4 a {
    color: #323031;
    font-size: 15px;
    font-family: Proxima-Nova-Semibold;
}
.prod_box  .slider_cnt p {
color: #000;
font-size: 15px;
font-family: Proxima-Nova-Extrabold;
}
.list_products {
clear: both;
padding-top: 30px;
}
p.hover_crt {
background: rgba(17, 168, 158, 0.66);
padding: 7px;font-family: Proxima-Nova-Bold;
color: #fff; font-size: 12px
}
.hover_box {
position: absolute;
width: 100%;
bottom: 0px; display:none;
}
.img_layer {
position: relative;cursor: pointer;
}
.prod_box:hover .hover_box p {
margin-bottom: 0px;border-left: 1px solid #ccc;
}
.prod_box:hover .hover_box {
display: block;background: #fff;
}
p.like_fav {
background: #fff;
height: 30px;
}
.list-banner {
    max-height: 300px;
    overflow: hidden;
    width: 100%;
    max-height: 560px;
    overflow: hidden;
    height: 300px;
    background-size: cover;
    background-position: center;
}
p.like_fav span {
width: 50%;
float: left;
line-height: 30px;
}
p.like_fav span {
width: 50%;
float: left;color: #000;
line-height: 30px;
border-right: 1px solid #ccc;
}
p.like_fav 0
border-top: 1px solid #ccc;
 border-left: 1px solid #ccc; 
 border-right: 1px solid #ccc; 
 border-bottom: 1px solid #ccc; 
}
p.like_fav span i.fa.fa-heart-o {
color: #ef4066;
}
p.like_fav span i.fa.fa-heart-o {
color: #ef4c70 !important;
}
/* List page CSS E */

/*Login page  start css*/
#signup_popup .modal-dialog {
width: 500px;
}
div#login_popup .modal-dialog{width: 500px;}
div#signup_popup div#myTabContent {
padding: 30px 70px;
}

div#login_popup div#myTabContent {
padding: 30px 70px;
}
#login_popup div#myTabContent {
padding-top: 0px !important;
}
div#login_popup div#myTabContent input {
height: 40px;
border-radius: 3px;
font-family: Proxima-Nova-Regular;
box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.08);
-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.08);
border: 1px solid #e5e4e4;
}
#search_list .slider_cnt {
min-height: 65px;
}
.modal-header.indi_close_icons {
border: none;
padding-bottom: 0px;
}
.modal-header.indi_close_icons button.close {
color: #000;
opacity: 0.9;
font-size: 34px;
margin-bottom: -15px;
}
.form-group.agn_regstr span {
text-decoration: underline;
}
.form-group.agn_regstr {
text-align: center;
color: #000;
font-size: 18px;
font-family: Proxima-Nova-Semibold;
border-top: 2px solid #ccc;
margin-top: 25px;
padding-top: 15px;
}
.form-group.agn_regstr {
text-align: center;
color: #000;
font-size: 18px;
font-family: Proxima-Nova-Semibold;
}
div#login_popup div#myTabContent label {
font-size: 18px;
color: #000;
font-family: Proxima-Nova-Semibold;
}
.login-register ul.nav.nav-tabs li a {
font-size: 24px;
border: none;
color: #000;
font-family: Proxima-Nova-Extrabold;
}
#login_popup h2{font-size: 24px;
border: none;
color: #000;
font-family: Proxima-Nova-Extrabold;border-bottom: 2px solid #ccc;
padding-bottom: 10px; text-align:center;margin-bottom: 20px;}
.login-register ul.nav.nav-tabs li {
width: 50%;
}
.drop_uploader.drop_zone .text a:after {
    content: "\f030";
    font-family: 'FontAwesome';
    color: #fff;display: block;
}
/* .text a.button.button-primary.file_browse {
    color: transparent;
} */

.login-register .nav-tabs {
border-bottom: 0px solid #ddd;   margin-bottom: 10px; 
   
}
.form-group.loign-adtnl.forgot a {
font-size: 14px;
color: #000;font-family: Proxima-Nova-Semibold;
text-decoration: underline;
}
div#signup_popup div#myTabContent input {
height: 40px;border-radius: 3px;	font-family: Proxima-Nova-Regular;
box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.08);
-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.08);
border: 1px solid #e5e4e4;
}
div#signup_popup div#myTabContent label {
font-size: 18px;
color: #000;	font-family: Proxima-Nova-Semibold;
}
.login-btn button {
height: 45px;
background: #60c5ac;width: 100%;
border: 1px solid #60c5ac;
font-size: 20px;font-family: Proxima-Nova-Extrabold;
}
#signup_popup .modal-content{border-radius: 0px;}
.login-register .nav>li>a:focus, .nav>li>a:hover {
text-decoration: none;
background: none;
}
.top_nav ul li a:focus {
outline: none;
text-decoration: none;
}
.close_icon button {
font-size: 18px;
font-family: Proxima-Nova-Regular;
margin-top: 20px;
}
.form-group.socil-btn a {
width: 100%;
height: 50px;
line-height: 35px;
}
.form-group.socil-btn a {
width: 100%;font-size: 20px;background: #3a55a0;
font-family: Proxima-Nova-Extrabold;
}
.login-register ul.nav.nav-tabs li.active {
padding-left: 50px;
}
.login-register ul.nav.nav-tabs li {
padding-left: 70px;border-right: 2px solid #ccc;
border-left: 2px solid #ccc;
border-bottom: 2px solid #ccc;
padding-bottom: 10px;  padding-top: 10px;
}
.form-group.or {
margin-bottom: 0px;
}
.text-center.creat_btn button {
height: 45px;
background: #60c5ac;
width: 100%;
border: 1px solid #60c5ac;
font-size: 20px;
font-family: Proxima-Nova-Extrabold;
}
.rect_pswrd button{height: 45px;
background: #60c5ac;margin-top: 10px;
width: 100%;
border: 1px solid #60c5ac;
font-size: 20px;
font-family: Proxima-Nova-Extrabold;}
.creat_btn {
margin-top: 10px;
}
.login-register ul.nav.nav-tabs li.active a{color:#000 !important;}
.login-register ul.nav.nav-tabs li.active {
padding-left: 70px;
border-top: 5px solid #60c5ac;
border-left: 0px; border-right: 0px;
border-bottom: 0px;
}
.form-group.or.text-center p {
color: #000;
font-size: 18px;font-family: Proxima-Nova-Semibold;
text-transform: uppercase;
}
.login-register ul.nav.nav-tabs li a {
color: #848282 !important;
}
.login-register ul.nav.nav-tabs li:nth-child(2) {
border-right: 0px;
}
.login-register ul.nav.nav-tabs li:nth-child(1).active {
border-right: none;
}
.login-register ul.nav.nav-tabs li a {
font-size: 24px;
border: none;
color: #000;font-family: Proxima-Nova-Extrabold;
}
.close_icon button {
float: inherit;opacity: 0.9;
}

.login-register-main ul.nav.nav-tabs li {
float: none;
display: inline-block;
}
.login-register-main ul.nav.nav-tabs {
text-align: center;
}
.login-register-main .social-facebook {
  height: 45px;
background: #3a55a0;   
width: 100%;
border: 1px solid #3a55a0;
font-size: 20px;
font-family: Proxima-Nova-Extrabold;}
.login-register-main {
width: 500px;
margin: 40px auto;
}
label.error {
color: red !important;
font-size: 14px !important;
}
.login-register-main ul.nav.nav-tabs li a {
font-size: 22px;font-family: Proxima-Nova-Extrabold;border: none;color: #848282;
}
.login-register-main input {
   height: 40px;border-radius: 3px;	font-family: Proxima-Nova-Regular;
box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.08);
-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.08);
border: 1px solid #e5e4e4;
}
.login-register-main ul.nav.nav-tabs {
margin-bottom: 30px;
}
.login-register-main p{font-family: Proxima-Nova-Extrabold; text-transform: capitalize;font-size: 18px;}
.login-register-main .form-group.or {
clear: both;
margin: 20px 0px;
}
.login-register-main button {
  height: 45px;
background: #60c5ac;   
width: 100%;
border: 1px solid #60c5ac;
font-size: 20px;
font-family: Proxima-Nova-Extrabold;}
.text-right.rect_pswrd a{font-size: 14px;
color: #000;
font-family: Proxima-Nova-Semibold;
text-decoration: underline;}
.login-register-main ul.nav.nav-tabs li.active a{color: #000;}
.login-register-main ul.nav.nav-tabs li.active {
border-bottom: 3px solid #60c5ac;margin-bottom: -1px !important;
}
.login-register-main label{
font-size: 18px;
color: #000;
font-family: Proxima-Nova-Semibold;}
.login-register-main button:hover{background: #60c5ac;border: 1px solid #60c5ac;}
.cnt_with {
margin-bottom: 30px;
}
.close_icon button {
position: relative;
}
.close_icon button:focus {
outline: none;
}
.close_icon button span {
font-size: 27px;
left: -19px;
position: absolute;
top: -5px;
}
.login-register-main button:focus:active {
background: #60c3ab;
border: 1px solid #60c3ab;
outline: none;
box-shadow: none;
}
.login-register-main button:focus {
background: #60c3ab;border: 1px solid #60c3ab;
}
.alert-danger{font-family: Proxima-Nova-Regular;padding: 10px;}
#login_tab .alert-danger {
color: #a94442;
background-color: #f2dede;font-family: Proxima-Nova-Regular;
border-color: #ebccd1;
padding-right: 15px;
}
#login_tab .alert.alert-danger.alert-dismissable button {
width: auto;
background: none;
border: none;
position: inherit;
height: auto;
}
/*Login page end css*/





/* Product View page CSS S */
.product_view_rm{width:100%; float:left; margin: 40px 0;}
.product_view_rm h1{width:100%; float:left; font-size: 24px; font-family: Proxima-Nova-Extrabold; border-bottom: 1px solid #e1e1e1; padding-bottom: 15px; margin: 0px; color: #000000;}

.priceview_rm{width:100%; float:left; margin: 20px 0;}
.priceview_rm h2{width:100%; float:left; font-size: 30px; font-family: Proxima-Nova-Extrabold;  margin: 5px 0 0; color: #000000;}
.ystrip-rm{width:100%; float:left; margin: 10px 0 5px; }
.ystrip-rm span{float:left; background: #ffd23f; font-size: 16px; padding: 5px 10px; border-radius: 5px; font-family: Proxima-Nova-Semibold;}
.ystrip-rm span img{margin-top: 2px;margin-right: 5px;float: left;}

.iCondition-rm{width:100%; float:left; margin: 5px 0 0; font-size: 18px; font-family: Proxima-Nova-Semibold; color: #323031;}
.iCondition-rm .iBold-rm{font-family: Proxima-Nova-Extrabold;}

.viewBtn_rm button{width: 180px; height: 45px; float: right; line-height: 45px; color: #fff; font-size: 20px; font-family: Proxima-Nova-Extrabold; margin: 0 0 10px; background: #60c4ab; border: none; outline: none; border-radius: 5px;}
.viewBtn_rm button i{margin-right: 10px;}
.viewBtn_rm button.buynow-rm{background: #ee4266;}

.shipping_rm{width: 100%; float:left; background: #f4f6fa; padding: 25px 20px; color: #010101;}
.shipp-rm{width: 100%; float:left; font-size: 18px; font-family: Proxima-Nova-Bold; margin: 0px;}
.shipp-rm label{font-family: Proxima-Nova-Semibold; margin: 0px;}
.shipp-rm-20{margin-top: 20px;}
.shipp-rm a{color: #010101; text-decoration: underline !important;}
.shipp-rm1{width: 100%; float:left; font-size: 14px; font-family: Proxima-Nova-Semibold; padding-left: 82px;margin: 0px;}
.shipp-rm i{color: #8e8c8e; margin-left: 5px;}
.returns-rm{width: 100%; float:left; font-size: 18px; font-family: Proxima-Nova-Semibold; margin: 20px 0;}
.returns-rm span{font-family: Proxima-Nova-Extrabold;}

.viewTabs_rm{width: 100%; float:left; border: 1px solid #e1e1e1;}

.nav-tabs.viewTabs{border: none !important;}
.nav-tabs.viewTabs>li{width: 33.33%;}
.nav-tabs.viewTabs>li>a{font-size: 18px; font-weight: bold; color: #323031; border: none; border-radius: 0px; padding: 25px 15px; margin: 0px; background: #fff !important; border: 1px solid #e1e1e1; text-align: center; font-family: Proxima-Nova-Extrabold;}
.nav-tabs.viewTabs>li.active>a, .nav-tabs.viewTabs>li.active>a:hover, .nav-tabs.viewTabs>li.active>a:focus{color: #323031; border: none; border-top: 3px solid #60c5ac;margin-top: -1px; background: #fff; border-radius: 0px; font-family: Proxima-Nova-Extrabold;}
.nav-tabs.viewTabs>li>a:hover{background: #fff; color: #323031; border: none; border-top: 3px solid #60c5ac; font-family: Proxima-Nova-Extrabold;}

.viewTabs-text{width: 100%; float:left; color: #323031; font-size: 16px; margin: 25px 0 10px;	font-family: Proxima-Nova-Regular; font-weight:600;}
.viewTabs-content{width: 100%; float:left; background: #fff; padding: 10px 25px; font-family: Proxima-Nova-Semibold;}
.viewBtn_rm{float: right !important;}

.likeview-rm{width: 100%; float:left; margin: 20px 0 0;}
.likeview-rm1{float:left; color: #000; font-family: Proxima-Nova-Semibold; font-size: 16px; line-height: 40px;}
.likeview-rm1 span{float:left;font-family: "Myriad Pro";}
.likeview-rm1 .like-span{width: auto; float:left; height: 40px;font-weight: 600; line-height: 40px; border: 2px solid #60c4ab; color: #60c4ab; font-size: 16px; padding: 0 20px; margin: 0 15px;}
.likeview-rm1 .like-span1{color: #60c4ab;}

.likeview-rm2{float: right; font-size: 16px;}
.likeview-rm2 a{color: #000000; border-bottom: 1px solid #bfbfbf; font-family: Proxima-Nova-Semibold;}
.viewHead-rm{width: 100%; float:left; color: #323031; font-family: Proxima-Nova-Bold; font-size: 24px; border-bottom: 1px solid #e1e1e1; padding-bottom: 15px;}
/* Product View page CSS E */


/* box slider */
.bxslider-strt{margin: 20px 0 0;}
#bx-pager a{width: 20%; float:left;}
#bx-pager a img{width: 100%; float:left;}
.bx-wrapper{width: 100%; border: none !important; box-shadow: none !important; padding: 0px !important;}
.bx-wrapper.bx-wrapper-rm .bx-pager.bx-default-pager{display: none;}
/* box slide Carousal code E*/


/* checkout and cart page start css */
p.price_right span a {    cursor: pointer;}
p.f_quality {    background: #ffd23f;    font-size: 16px;    padding: 5px 10px;    border-radius: 5px;    font-family: Proxima-Nova-Semibold !important;    display: inline-block;}
.cart_page_vew h1{width:100%;float:left;font-size:24px;font-family:Proxima-Nova-Extrabold;border-bottom:1px solid #e1e1e1;padding-bottom:15px;margin:0px;color:#000000;}
.shipping_date span.shi_date_right{float:right;}
.cart_page_vew .well{background:none;box-shadow:none;border-radius:0px;}
.well .shipping_date{background:#f5f7fb;padding:10px;margin-bottom:20px;}
.cart_page_vew .media-left img{max-height:150px;}
inspector-stylesheet:3
.cart_page_vew .media-left{max-height:150px;overflow:hidden;min-height:150px;}
.cart_page_vew .media-body .media-heading{margin-top:0;margin-bottom:5px;width:100%;float:left;font-size:24px;font-family:Proxima-Nova-Extrabold;padding-bottom:5px;margin:0px;color:#000000;}
.cart_page_vew p.upload_id span{color:#60c5ac;}
.cart_page_vew p.price_right span.check_price{font-size:24px;font-family:Proxima-Nova-Extrabold;color: #000;}
.cart_page_vew p.price_right span i{font-size:24px;margin-left:25px;color:#000;}
.cart_page_vew .media-body p b {    font-family: Proxima-Nova-Extrabold ;   font-weight: 600;    font-size: 16px;}
.checkout_review_box .media-body p b {    font-family: Proxima-Nova-Extrabold;    font-weight: 600;    font-size: 16px; color:#323031;}
.checkout_review_box .media-body p {    margin-bottom: 5px;    color: #323031;    font-family: Proxima-Nova-Regular;    font-weight: 600;}
.cart_page_vew .media-body p {margin-bottom: 5px;color: #323031;font-family: Proxima-Nova-Regular;    font-weight: 600;}
.cart_page_right .well{background:none;box-shadow:none;margin-top:15px;border-top:3px solid #60c5ac;border-radius:0px;text-align:center;padding-top:0px;}
.cart_page_right p.store_price{font-size:24px;font-family:Proxima-Nova-Extrabold;color:#000;}
.store_credit h3{text-align:left;margin-bottom:15px;font-size:18px;font-family:Proxima-Nova-Extrabold;border-bottom:2px solid #ccc;padding-bottom:15px;color:#000;}
.store_credit a{width:100%;background:none;border:2px solid #60c5ac;font-size:18px;font-family:Proxima-Nova-Extrabold;color:#61c5ac;}
.coupn_code  a{width:100%;background:none;border:2px solid #60c5ac;font-size:18px;font-family:Proxima-Nova-Extrabold;color:#61c5ac;}
.coupn_code  a:hover{background:none;border:2px solid #60c5ac;color:#61c5ac;}
.store_credit a:hover{background:none;border:2px solid #60c5ac;color:#61c5ac;}
.store_credit a:active:hover{background:none;border:2px solid #60c5ac;color:#61c5ac;}
.coupn_code a:active:hover{background:none;border:2px solid #60c5ac;color:#61c5ac;}
.coupn_code h3{text-align:left;font-size:18px;font-family:Proxima-Nova-Extrabold;border-bottom:2px solid #ccc;padding-bottom:15px;color:#000;margin-bottom:15px;}
.coupn_code input{margin-bottom:15px;}
.cart_page_right h3{text-align:left;margin-bottom:15px;font-size:18px;font-family:Proxima-Nova-Extrabold;border-bottom:2px solid #ccc;padding-bottom:15px;color:#000;}
.coupn_code .well{border-top:1px solid #e3e3e3;}
.order_summery .well{border-top:1px solid #e3e3e3;}
.order_summery a{width:100%;background:#ef4066;border:2px solid #ef4066;font-size:18px;font-family:Proxima-Nova-Extrabold;color:#fff;}
.order_summery a:hover{background:#ef4066;border:2px solid #ef4066;}
.order_summery a:active:hover{background:#ef4066;border:2px solid #ef4066;font-family:Proxima-Nova-Extrabold;color:#fff;}
.order_summery p.sub-all {    text-align: left;    font-family: Proxima-Nova-Regular;    color: #000;    margin-bottom: 30px;    font-weight: 600;    font-size: 16px;}
.order_summery span.sub-price em{display:block;font-style:inherit;font-size:12px;}
span.sub-price{text-align:right;float:right;}
.s_credit span.sub-price{color:#ef4066;}
.order_summery p.s_credit{padding-bottom:5px;margin-bottom:10px;}
.cart_page_total h1{font-size:24px;font-family:Proxima-Nova-Extrabold;color:#000000;border-bottom:2px solid #ccc;text-transform:uppercase;padding-bottom:10px;margin-bottom:20px;}
p.sub-all.total_price{border-bottom:2px solid #ccc;border-top:2px solid #ccc;padding:10px 0px;}
.checkout_page_total h1{font-size:24px;font-family:Proxima-Nova-Extrabold;color:#000000;border-bottom:2px solid #ccc;text-transform:uppercase;padding-bottom:10px;margin-bottom:20px;}
.check_out_page_left h2{margin-top:0px;margin-bottom:5px;font-size:22px;font-family:Proxima-Nova-Extrabold;padding-bottom:5px;margin:0px;color:#000000;}
.checkout_page_total .well{background:none;box-shadow:none;border-radius:0px;}
.check_out_page_left .methods{clear:both;padding:20px 0px;border-bottom:2px solid #ccc;width:95%;display:inline-block;margin:0 auto;margin-left:15px;}
.check_out_page_left p.cehck_edit{text-align:right;}
.check_out_page_left p a{color:#000;text-decoration:underline!important;font-family:Proxima-Nova-Bold;}
.methods h4{font-family:Proxima-Nova-Extrabold;font-size:18px;color:#000;}
.check_out_page_left .media-left img{max-height:150px;}
.check_out_page_left p.price_right span i{font-size:24px;margin-left:25px;color:#000;}
.check_out_page_left .media-body p{margin-bottom:5px;}
.check_out_page_left p.price_right span.check_price{font-size:20px;font-family:Proxima-Nova-Extrabold;color:#000;}
.check_out_page_left .media-body .media-heading{margin-top:0;margin-bottom:5px;width:100%;float:left;font-size:24px;font-family:Proxima-Nova-Extrabold;padding-bottom:5px;margin:0px;color:#000000;}
.checkout_review_box{margin-top:70px;}
.well .shipping_date span{font-family:Proxima-Nova-Extrabold;color:#000;font-size: 16px;}
.well .shipping_date span .in_prc{font-family:Proxima-Nova-Extrabold;color:#ef4066;}
.check_out_page_right h3{text-align:left;margin-bottom:15px;font-size:18px;font-family:Proxima-Nova-Extrabold;border-bottom:2px solid #ccc;padding-bottom:15px;margin-top:0px;color:#000;}
.check_out_page_right .order_summery{border-top:3px solid #60c5ac;}
.methods p{	font-family: Proxima-Nova-Bold; font-size:16px; color:#000;}
.check_out_page_left .methods:last-child{border:none;}
.check_out_page_right .btn-primary:active{background-color:#ef456f;boder-color:#ef456f;}
.check_out_page_right .btn-primary:focus{background-color:#ef456f;boder-color:#ef456f;}



/* checkout and cart page css End here */




/* dashboard css start here */
.dashboard-top-box p.right_heading { float: right; }
.dashboard-top-box { border: 1px solid #ccc; display: inline-block; width: 100%; margin-bottom: 20px; padding: 5px; border-top: 2px solid #60c5ac; }
.dashboard-top-box p.left_heading { float: left; }
p.left_heading span { font-weight: 800; }
p.right_heading span.my_facvrs { font-weight: 800; }
p.right_heading span.my_msg { font-weight: 800; }
.p_details .form-group { width: 44%; float: left; margin-right: 15px; margin-left: 15px; }
.form-group.update_btn a { width: 100%; background: #61c5ac; border: 1px solid  #61c5ac; color: #fff; font-weight: 800; font-size: 18px; }
.pay_details p.pymnt_right_box { float: right; clear: both; }
.panel-body.add_new_card .form-group { width: 44%; float: left; margin-left: 15px; margin-right: 15px; }
.billing_addres_1 p.bill_adrs_dlte { float: right; }
.billing_addres_1 p.bill_adrs { float: left; }
.billing_addres_1 .form-group.add_new_btn { display: block; clear: left; text-align: right; border-top: 1px solid #ccc; padding-top: 15px; }
.billing_addres_1 .form-group.add_new_btn a { padding: 7px 80px; background: #61c5ac; border: 1px solid #61c5ac; color: #fff; font-weight: 800; font-size: 18px; text-align: right; }
.rencemt_order_table { border: 1px solid #ccc; padding: 10px 30px; margin-bottom: 30px; }
.rencemt_order_table .table.table-striped thead { font-weight: 600; font-size: 14px; color: #000; }
.rencemt_order_table .table.table-striped tbody tr:hover { color: #ef4066; cursor: pointer; }
.rencemt_order_table .table.table-striped tbody { font-size: 14px; }
.rencemt_order_table h2 { font-size: 18px; font-weight: 800; color: #000; border-bottom: 2px solid #ccc; padding-bottom: 20px; }
.rencemt_order_table .table>tbody>tr>td { border: none; }
.rencemt_order_table .table>thead>tr>th { border: none; }
.rencemt_order_table .table.table-striped tbody tr td:last-child:hover { text-decoration: underline; }
/* dashboard css End here */






/* ProgressBar CSS S */
.progressbar_main { width: 100%; float: left; margin: 30px 0 50px; border: 1px solid #ccc; padding: 15px; border-top: 3px solid #60c5ac; }
.progressbar_main h2 { width: 100%; float: left; font-size: 16px; font-family: Proxima-Nova-Extrabold; margin: 0px 0 30px; color: #323031; }
#progressbar { width: 100%; float: left; counter-reset: step; clear: both; }
.progressbar_rm { text-align: center; margin: 30px 0 0px !important; clear: both; }
#progressbar li { list-style-type: none; color: rgb(0, 0, 0); font-size: 16px; width: 25%; text-align: center; float: left; position: relative; font-family: Proxima-Nova-Semibold; }
#progressbar li:before { content: counter(step); counter-increment: step; width: 16px; height: 16px; line-height: 16px; display: block; font-size: 0; color: #333; background: #fff; border-radius: 10px; margin: 0 auto 5px auto; border: 1px solid #e0e0e0; }
#progressbar li:after { content: ''; width: 100%; height: 6px; background: #dadada; position: absolute; left: -50%; top: 5px; z-index: -1; }
#progressbar li:first-child:after { content: none; }
#progressbar li .s-head { position: absolute; top: -30px; left: 0; right: 0; color: #323031; font-family: Proxima-Nova-Bold; }
#progressbar li.active:before,  #progressbar li.active:after{background: #60c5ac; color: #323031;
/*	border: 1px solid #60c5ac;
	box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,1);*/
}
#progressbar li.active:after{box-shadow: none;}
#progressbar li.active{color: #323031;}

.prog-txt{width: 100%; float:left; font-size: 18px; font-family: Proxima-Nova-Semibold; color: #323031; margin: 0 0 30px;}
.prog-txt span{font-family: Proxima-Nova-Extrabold;}

.prog-head{width:100%; float:left; font-size: 24px; font-family: Proxima-Nova-Extrabold; border-bottom: 2px solid #e1e1e1; padding-bottom: 10px; margin: 0px; color: #000;margin-bottom: 50px;}

.form-rms{width: 100%; float:left; margin: 10px 0; padding-left: 33px}
.form-rms-que{width: 100%; float:left; font-size: 18px; color: #000; font-family: Proxima-Nova-Extrabold; margin: 20px 0; text-indent: -32px;}
.form-rms-input input{width: 300px; float:left; height: 30px; border: 1px solid #e1e1e1; padding: 0 10px; font-family: Proxima-Nova-Semibold; font-size: 16px;}
.form-rms-input select{width: 300px; float:left; height: 30px; border: 1px solid #e1e1e1; padding: 0 10px; font-family: Proxima-Nova-Semibold; font-size: 16px;}
.form-rms-input textarea{width: 100%; float:left; height: 120px; border: 1px solid #e1e1e1; padding: 15px 10px; font-family: Proxima-Nova-Semibold; font-size: 16px;}
.form-rms-input{width: 100%; float:left;}
.form-rms-small{width: 100%; float:left; font-size: 14px; font-family: Proxima-Nova-Semibold; margin: 10px 0 0;}
.form-rms-small span{font-family: Proxima-Nova-Extrabold;}
.form-rms-input .full-rms{width: 100%; float:left; margin: 5px 0; font-size: 16px;  font-family: Proxima-Nova-Semibold;}
.form-rms-input .full-rms input{width: 15px; margin: 0px; height: 22px; margin-right: 10px;}
.form-rms-sm1{width: 100%; float: right; font-size: 10px; text-align: right; font-family: Proxima-Nova-Semibold;}
.form-rms-que1{font-family: Proxima-Nova-Semibold;}
.form-rms-que1 span{font-family: Proxima-Nova-Extrabold;}
.form-rms-btn{width: 100%; float:right; margin: 30px 0 0;}
.form-rms-btn button{width: auto; padding: 0px 40px; height: 35px; line-height: 35px; float: right; margin-left: 20px; font-family: Proxima-Nova-Extrabold; font-size: 16px; background: #60c4ac; color: #fff; border: none; outline: none; border-radius: 2px;}
.form-rms-btn button.btn-rm-back{background: none; border: none; padding: 0px; color: #60c4ac; margin: 0 10px 0 0;}
.form-rms-btn button.btn-rm-back span{border-bottom: 1px solid #efefef;}
.form-rms-dim{width: 17%; float:left; font-family: Proxima-Nova-Semibold; color: #323031;}
.form-rms-dim .form-rms-he1 input{width: 40px; margin: 10px 8px 0 0; height: 30px;}
.form-rms-dim .form-rms-he1 span{float:left; margin: 20px 0 0;}
.form-rms-he{width: 30%;}
.form-rms-dim .form-rms-he1 .form-rms-dt{margin-left: 10px;}
.prog-form-rm{width: 100%; float:left; margin: 0 0 30px;}

/* ProgressBar second page CSS S */


.form-rms-input input.input-rm100{width: 100%;}
.form-rms-input .form-rms-rel{width: 100px; position: relative; float:left;}
.form-rms-input .form-rms-rel .form-rms-abs{position: absolute; left: 15px; line-height: 30px; color: #000;}
.cst2-textl2{width: auto; float:left; line-height: 30px; margin-left: 10px; color: #323031;}
.form-rms-input select.cst2-select50{width: 60px;}
.form-rms-que i.fa-info-circle{text-indent: 0px; line-height: 20px;}
.form-rms-small1{width: 100%; float:left; font-size: 16px; font-family: Proxima-Nova-Semibold; margin: 10px 0 0;}
.cst2-rms-chck{width: 100%; float:left; margin: 10px 0 0; font-size: 18px; color: #000; font-family: Proxima-Nova-Semibold;}
.cst2-rms-chck input{float:left; margin: 6px 5px 0 0px !important;}
.fa-info-rm{color: #60c4ac;}
.ct3-rms-text{width: 100%; float:left; margin: 10px 0; font-size: 16px; font-family: Proxima-Nova-Semibold;}
.ct3-rms-head{width:100%; float:left; font-size: 16px; font-family: Proxima-Nova-Extrabold; margin: 20px 0 10px; color: #323031;}
.cst2-select80{width: 80px !important;}
.form-rms-input .form-rms-rel1{width: 80px; position: relative; float:left;}
.cst3-textl2{width: auto; float:left; line-height: 30px; margin-left: 15px; color: #60c4ac;}
.ct3-list{width: 100%; float:left; list-style: none;}
.ct3-list li{width: 16.66%; float:left; padding: 0 5px;}
.ct3-list li img{width: 100%; float:left; margin: 10px auto;}
.ct3-list li input{margin: 10px auto 0; display: block;}
.ct1-rms-rel input.input-rm100{width: 100px; float:left;}
.ct1-rms-rel{width: 100%; float:left; line-height: auto; font-size: 14px; font-family: Proxima-Nova-Semibold; margin: 10px 0 0;}
.ct1-rms-rel span{margin: 5px 0 0 5px; float:left; }
/* ProgressBar second page CSS E */

/* ProgressBar CSS E */

#fileselector {
    margin: 10px; 
}
#upload-file-selector {
    display:none;   
}
.margin-correction {
    margin-right: 10px;   
}
.upload-photo-blogs .up-blog {
    background: #ccc;
    height: 295px;    cursor: pointer;
}
.upload_hint{position:relative;}

.upload-photo-blogs .threeblogs{    width: 80%;display: inline-block;    margin-bottom: 30px;}
.upload-photo-blogs {
    margin-bottom: 30px;
    clear: both;
    display: inline-block;
    width: 100%;
}
.up_btns_tl a {
    text-align: center;
    background: #fff;
    border: 2px solid #60C4AB;
    font-size: 18px;
    margin-bottom: 15px; color:#60C4AB;
    width: 200px;font-family: Proxima-Nova-Extrabold;
}
label.btn.btn-default.upload_more_btn{    text-align: center;
    background: #fff;
    border: 2px solid #60C4AB;
    font-size: 18px;
    margin-bottom: 15px; color:#60C4AB;
    width: 200px;font-family: Proxima-Nova-Extrabold;}
a.upload_sub_btn.btn.btn-default{ background: #60C4AB; color:#fff;    margin-top: 30px;}
.up_btns_tl {
    text-align: center;
}
.up_btns_tl a {

    text-align: center;
}
.upload-photo-blogs h4 {text-align: center;
    font-size: 16px;	font-family: Proxima-Nova-Extrabold; color:#000;    margin-bottom: 20px;
}
.upload_castume-blog {
    background: url(../../frontend/img/upload-bg.png);
    background-size: cover;
    background-position: 50%;min-height: 300px;     text-align: center;    color: #fff;padding-top: 13%;    cursor: pointer;
}
.Ship_castume-blog {
    background: url(../../frontend/img/shipus-bg.png);
    background-size: cover;
    background-position: 50%;min-height: 300px;     text-align: center;    color: #fff;padding-top: 13%;
}
.upload_acrdins {
    margin-top: 35px;
}
.upload_page_accordians .panel-default>.panel-heading {
    background: none;
    border: none;
}
.upload_page_accordians h4.panel-title a {
    font-family: Proxima-Nova-Regular;
    font-weight: bold;
    font-size: 18px;
    color: #323031;text-decoration: none;
}
.upload_page_accordians .panel-group .panel {
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #E1E1E1;
    border-radius: 0px;
    padding: 15px 0px;
}
.upload_castume-blog img {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}
.upload_castume-blog h2 {
    margin: 0px;
    font-size: 26px;
    color: #fff;
    font-family: Proxima-Nova-Extrabold;
}
.upload_castume-blog p {
    margin: 0px;
    font-size: 20px;    line-height: 22px;
    color: #fff;
   font-family: Proxima-Nova-Semibold;
}
.see-page-headings {    text-align: center;    margin-bottom: 30px;}
.see-page-headings h1 {
    font-size: 24px;   color: #323031;	font-family: Proxima-Nova-Extrabold;    margin-bottom: 0px;
}
.see-page-headings p {
font-family: Proxima-Nova-Semibold;
    font-size: 24px;    color: #323031;
}
.upload_castume-blog a {
    text-transform: uppercase;
    font-family: Proxima-Nova-Extrabold;
    color: #FFD23F;    font-size: 16px;text-decoration: underline;
    padding-top: 25px;
    display: inline-block;
}

.upload_page_accordians .panel-default>.panel-heading+.panel-collapse>.panel-body {
border-top-color: #fff;
    font-family: Proxima-Nova-Regular;
    font-size: 18px;
    color: #323031;
    padding: 15px 40px;
}

.upload_page_accordians i.more-less {
    text-align: right;
    float: right;
    font-size: 14px;
}


span.up_tip {
    font-family: manustrialregular;
    font-size: 30px;
    display: block;
}










/********************************************************************Media start here********************************************************************/
@media screen and (min-width:1025px){
	.img_layer {
    position: relative;
    cursor: pointer;
    max-height: 351px;
    overflow: hidden;
}

	.img_layer a img {
    min-height: 276px;
}
		.icon_lins.text-right ul li .btn a:hover {text-decoration:none;}
	.icon_lins.text-right ul li .btn a {
    color: #656465;
}
	.icon_lins.text-right ul li .btn{position:relative;}
.icon_lins.text-right ul li .btn span {
    background: #60c5ac;
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    top: -7px;
    line-height: 15px;
    font-size: 10px;
}
.sell_bxz_div div {    padding-left: 8px;    padding-right: 8px;}
	form#register-newsletter input.btn.btn-custom-3{margin-left: 9px;}
	.home-adds .add2{max-height:185px;overflow:hidden;padding-left:7px;}
	.home-adds .add1{max-height:185px;overflow:hidden;padding-right:7px;}
	.sell_page_total {    width: 1000px;      margin-top: 60px !important;  margin: 0 auto;}
	.prod_box {text-align: center;margin-bottom: 30px;min-height: 360px;}
.home_product_slider .img_layer img{margin:0 auto;}
.footer_head p {display: block !important;}
}

@media screen and (max-width:1024px){
		button.navbar-toggle.respnsive-ser-rm.sell span {
    font-family: Proxima-Nova-Extrabold;
    padding-left: 4px;
}
	.head-acc-form {
    width: 70%;}
.add1 {
    margin-bottom: 30px;
}
	.responsive-menu button.navbar-toggle.respnsive-ser-rm a {
    color: #fff;
}
	.nav-tabs.viewTabs>li>a {font-size: 16px; padding: 20px 10px;}	
	.home_product_slider h2{    font-family: Proxima-Nova-Bold;line-height: 35px;text-align:left;margin:10px 0px;font-size:18px;font-weight:800;color:#323031;margin-top:40px;border-bottom:1px solid #ccc;padding-bottom:5px;margin-bottom:15px;}
.ft-logo {
margin-bottom: 25px;
}
.home_product_slider .owl-buttons .owl-next{width:35px;height:35px;text-align:center;float:right;margin-right:10px;right:-13px;padding:5px 11px;position:absolute;top:-20%;padding-top:9.5px;color:#a1a0a1;cursor:pointer;border-radius: 50%;}
.home_product_slider .owl-buttons .owl-prev{right:40px;width:35px;height:35px;text-align:center;float:left;margin-left:10px;padding:5px 9px;position:absolute;top:-20%;border-radius: 50%;padding-top:9.5px;color:#a1a0a1;cursor:pointer;left:inherit;}
div#footer-middle{margin-bottom:40px;}

	.footer_links .col-md-4.active .footer_head .fa-plus:before {
content: "\f068";
}

.quick_links:after{display:none}
x
div#main-banner{margin-top:65px;}
.sticky-head{position:fixed!important;top:0;width:100%;z-index:99999999;background:#fff!important;}
.responsive-menu{padding-bottom:5px;margin-bottom:15px;border-bottom:1px solid #ccc;}
.mobile_menu_logo{margin-left:35px;margin-top:7px;}
.mobile_menu_logo  img{max-width:90px;}
.responsive-menu .navbar-toggle{margin-right:6px;}
a.navbar-toggle.respnsive-ser-rm.sell{background:#ef4066!important;color:#fff;font-weight:600;display: block;}
.responsive-menu button.navbar-toggle.respnsive-ser-rm{background:#60c5ac;color:#fff; display:block}
}

@media screen and (max-width:1023px){
	.prod_box .img_layer img {margin: 0 auto;width: 100% !important;}
	section.content.create_section_page {
margin-top: 63px;
}
	.quick_links {
		margin:25px 0px;
clear: both;
}
.footer_head img {
display: none;
}
.t-cnt{display:none;}
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px){
	.footer_head {
    clear: left;
}
	#single_signup_popup .modal-content {
    border-radius: 0px;
    border: none;
}
#single_signup_popup .modal-dialog {
    width: 500px !important;
}
#single_signup_popup .modal-dialog {
    margin: 200px auto !important;
}
#single_signup_popup div#myTabContent {
    padding: 30px 30px;padding-top: 0px;
}
#single_signup_popup .modal-dialog {
    width: auto;
    margin: 52px auto;

}

#single_signup_popup h2 {
    font-size: 16px;margin-top: 0px;
    border: none;
    color: #000;
    font-family: Proxima-Nova-Extrabold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 20px;
    text-align: left;
}
	.owl-wrapper .img_layer {
    position: relative;
    cursor: pointer;
    max-height: inherit;
    overflow: hidden;
}
	.img_layer {
    position: relative;
    cursor: pointer;
    max-height: 200px;
    overflow: hidden;
}

	.img_layer a img {
    min-height: 200px;
}
		.see-page-headings h1{margin-top:40px;}
	.form-group.agn_regstr p {
    font-size: 18px;
    font-family: Proxima-Nova-Bold;
}
#login_popup .modal-content{    border-radius: 0px;}
div#login_popup .modal-dialog {    margin: 200px auto;}
	.responsive-inner li {margin-bottom: 20px;
    font-family: Proxima-Nova-Regular;
    font-size: 16px;
}
.responsive-inner{padding-left:0px;}
	.responsive-rm>li{	font-family: Proxima-Nova-Extrabold;font-size: 18px;}
.mobile-rm{width:90%;left: -90%;}
	.icon-rm.btn-cross{left: 90.8% !important;}
	.order_summery p.s_credit {
    padding-bottom: 5px;
    margin-bottom: inherit;
}
	.box-list2 li {
width: 50%;
float: left;
font-family: Proxima-Nova-Semibold;
font-size: 13px;
color: #323031;
cursor: pointer;
margin: 5px 0;
}
	.top_nav_div{display: none;}
	.box-list1 li{font-size: 13px;}
	.list-box-rm .checkbox label, .radio label{font-size: 13px;}
	.social-icons a {
float: none;
display: inline-block;
}
.social-icons {
text-align: center;
	
}
form#register-newsletter input[type="text"]{width: 80%;}
.social-img {
padding-left: 15px;
}
section.newsletter-container{text-align: center;}
.newsletter-container h3{float:none;margin: 15px 0px;}
.home_product_slider .owl-carousel .owl-item {margin-right: 5px;margin-left: 5px;}
.responsive-menu button.navbar-toggle.respnsive-ser-rm{padding: 10px 15px;}
section.main_banner{background:#f7f9fc;margin-top:75px;}
.home_steps .media-body h4{font-size:16px;}
.main_banner .jumb-bnr img{min-height:auto;}
.home_steps{padding:30px 0px;}
.home_steps .media-body p{font-size:14px;line-height:normal;font-weight:600;color:#000;}
}

@media screen and (min-width:768px){

.upload_hint p {
    font-size: 15px;font-family: Proxima-Nova-Semibold;
    color: #EF4A6C;
    position: absolute;
    bottom: 0px;    text-align: center;
    height: 100%; position: relative;
    top: 70px;
}
.upload_hint p:after {
    width: 140px;
    height: 187px;
    position: absolute;
    content: "";
    background: url(../../frontend/img/tip-arrow.png);
    background-repeat: no-repeat;
    right: -57px;
    top: 170px;
}


	
}


@media screen and (max-width:767px){

	.form-group.agn_regstr span a {
    color: #323130;
}
		div#single_signup_popup {
    overflow-x: hidden;
    overflow-y: auto;
}
	.img_layer a img {
    min-height: 180px;
}
.img_layer {
    position: relative;
    cursor: pointer;
    max-height: 250px;
    overflow: hidden;
}
	.progressbar_main{    margin: 30px 0 20px;}
	.prog-txt{text-align:center}
	#fileselector {
    margin: 0;
}

#progressbar{padding-left:0px;}
	.see-page-headings h1 {
    font-size: 18px;
    color: #323031;
    font-family: Proxima-Nova-Extrabold;}
	.see-page-headings p {
    font-family: Proxima-Nova-Semibold;
    font-size: 18px;
    color: #323031;
}
.responsive-inner>li{	font-family: Proxima-Nova-Regular;}
		.responsive-rm>li{	font-family: Proxima-Nova-Extrabold;font-size: 14px;}
	form#register-newsletter {
    margin-top: 15px;
}
	.modal-header.indi_close_icons {
    border: none;
    padding-bottom: 10px;
}
	.home_product_slider .slider_cnt h4 {
    color: #323031;
    font-size: 13px;
    font-family: Proxima-Nova-Bold;
}
	.p_details .form-group {
    width: 100%;
    float: left;
    margin-right: 0px;
    margin-left: 0px;
}
.panel-body.add_new_card .form-group {
    width: 100%;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
}
	.upload_hint p {
    font-size: 14px;font-family: Proxima-Nova-Semibold;
    color: #EF4A6C;
    height: 100%;text-align: center;
    top: 260px;
}
	.upload-photo-blogs .threeblogs {
    width: 100%;
    margin-bottom: 30px;
    display: inline-block;
}
	.Ship_castume-blog{margin-top:10px;}
	div#login_popup .modal-dialog {
    width: auto;    margin: 52px auto;    border-top: 3px solid #60c5ac;
}
#login_popup h2 {
    font-size: 16px;
    border: none;    margin-top: 0px;
    color: #000;
    font-family: Proxima-Nova-Extrabold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 20px;
    text-align: left;
}
div#login_popup div#myTabContent input{box-shadow: none;}
#login_popup div#myTabContent label {
    display: none;
}
div#login_popup div#myTabContent {
    padding: 30px 30px;
}
#single_signup_popup .modal-content {
    border-radius: 0px;
    border: none;
}
#single_signup_popup div#myTabContent {
    padding: 30px 30px;padding-top: 0px;
}
#single_signup_popup .modal-dialog {
    width: auto;
    margin: 52px auto;
    border-top: 3px solid #60c5ac;
}
#single_signup_popup h2 {
    font-size: 16px;margin-top: 0px;
    border: none;
    color: #000;
    font-family: Proxima-Nova-Extrabold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 20px;
    text-align: left;
}
#login_popup .modal-header.indi_close_icons button.close {
    color: #868686;
    opacity: 0.9;
    font-size: 26px;
    margin-bottom: -15px;
}
#login_popup .modal-content{border-radius:0px;    border: none;}
	.well .shipping_date{display: inline-block;}
.shipping_date span.shi_date_right {
    float: left !important;
    text-align: left;    margin-top: 15px;}
	.check_out_page_left .media-body .media-heading{font-size:16px;}
	.check_out_page_left h2{font-size:18px}
	.checkout_page_total .well{padding: 5px;}
	.check_out_page_left .methods{margin-left: 15px;
    margin-right: 15px;    width: auto;}
	.checkout_review_box {
    margin-top: 30px;
}
	.login-register-main {
width: auto;
margin: 40px auto;
}
	.login-register ul.nav.nav-tabs li.active{ padding-left: 20px;}
	.text-center.creat_btn button{font-size: 16px;}
	div#signup_popup div#myTabContent {padding: 20px;}
.form-group.socil-btn a{font-size: 16px;}
	.login-register ul.nav.nav-tabs li{padding-left: 20px;}
div#signup_popup .modal-dialog {
    margin: 52px auto;    width: auto;
}
.login-register ul.nav.nav-tabs li:nth-child(2) {
    border-right: 0px;
    display: none;
}
.login-register ul.nav.nav-tabs li:nth-child(1) {
    width: 100%;
}
.l_more.text-center a{color:#60c3ab; text-decoration: underline;}
.l_more.text-center {font-size: 18px;font-family: Proxima-Nova-Bold; color:#60c3ab; text-decoration: underline;}
.top_nav_div{display: none;}
.home_product_slider .owl-carousel .owl-item{margin-right:5px;margin-left:5px;}
.footer_head img{display:none;}
.footer_links .col-md-4.active .footer_head .fa-plus:before{content:"\f068";}
.responsive-menu .respnsive-ser-rm:nth-child(1){margin-right:0px;}
.responsive-menu button.navbar-toggle.respnsive-ser-rm{padding:5px 10px;font-family: Proxima-Nova-Bold;}
.steps-slider-div .carousel-control{width:5%;}
div#steps-sldier .carousel-inner{width:80%;margin:0 auto;}
.home_steps .media-body p{font-size:18px;}
.social-fallow h3{margin-top:15px;}
.ft-logo img{display:none;}
.social-fallow{padding-right:15px;padding-left:15px;}
.social-icons{text-align:center;}
form#register-newsletter input[type="text"]{float:left;width:60%;margin-right:5px; font-size:12px;}
.social-icons a{float:inherit;display:inline-block;padding-left:10px;}
form#register-newsletter input.btn.btn-custom-3 {float: left;width: 38%;font-size: 16px;margin-top: 0px;height: 40px;border-radius: 2px;}
.newsletter-container h3{float:none;text-align:center;margin-bottom:10px;}
.home-adds .add1 img{min-height:auto;}
.home-adds .add2 img{min-height:auto;}
.quick_links:after{display:none;}
.home-adds .add1{padding-right:15px;}
.home-adds .add2{padding-left:15px;}
.home_product_slider .slider_cnt{text-align:center;padding:5px 0px;}
.main_banner .jumb-bnr img{min-height:auto;}
.main_banner .jumb-smll{padding-left:15px;padding-right:15px;}
.home_steps .media{margin-top:15px;}
.home_steps .media{margin-bottom:15px;}
.home_steps{padding:0px;}
.main_banner .jumb-bnr{margin-bottom:15px;}
.jumb-smll a img{max-height:180px;padding-right:0px;width:100%;}
}
@media only screen 
and (min-device-width:768px) 
and (max-device-width:1024px) 
and (orientation:landscape){
	.social-icons{margin-top: 20px;    padding-left: 30px;}
	.social-media {
    padding-top: 11px;
}
form#register-newsletter input[type="text"] {
    width: 70%;}
	.social-fallow h3 {
    margin: 0px;
    line-height: 17px;
}
.social-img {
    padding-left: 15px;
    width: 100% !important;
}
.social-icons a img {
    width: 40px !important;
}
.social-fallow {
    padding-right: 0px;
    padding-left: 30px;
    width: 100% !important;
}
.social-fallow{width: 100%;}
.main_banner{margin-top:0px !IMPORTANT;}
.responsive-rm{padding-left:0px;}
.container.main_menu ul li a.dropdown-toggle{font-size:16px;}
.container.main_menu ul li a.dropdown-toggle{padding-left:18px;padding-right:18px;}
ul.nav.navbar-nav.mid_nav li a{padding: 10px;font-size:16px!important;color:#323031;font-weight:800;}
ul.nav.navbar-nav.mid_nav li a.sell-btn{padding:10px 10px;font-size:16px!important;}
}
@media (max-width: 480px){
.nav-tabs.viewTabs>li>a {font-size: 14px; padding: 10px 5px;}
.viewTabs-content{padding: 10px 15px;}
.viewTabs-text{margin: 10px 0 5px;}
.product_view_rm h1{font-size: 20px;}
.viewpr_rm{width: 100% !important; float:left;}
.viewBtn_rm{width: 100% !important; float:left !important; margin: 20px 0 0;}
.viewBtn_rm button{float: left;}
.shipp-rm1{padding-left: 0px;}
}
@media only screen and (min-device-width:480px) 
and (max-device-width:736px) 
and (orientation:landscape){
.home_product_slider .owl-buttons .owl-prev{top: -14%;}
.home_product_slider .owl-buttons .owl-next{top: -14%;}
#main-banner .carousel-inner>.item>a>img,.carousel-inner>.item>img{width:100%!important;min-height:215px;max-height:215px;}
}
@media only screen 
and (min-device-width:320px) 
and (max-device-width:568px) 
and (orientation:portrait){
	.upload_hint {
    margin-top: 25px;
}
.prog-txt{text-align:center}
	a.upload_sub_btn.btn.btn-default{    margin-top: 10px;}
	label.btn.btn-default.upload_more_btn{width:100%;}
	.up_btns_tl a{width:100%}
div#main-banner{margin-top:65px;max-height:194px;overflow:hidden;}
div#main-banner img{min-height:164px;width:100%;}
.responsive-inner{padding-left:0px;}
.icon-rm.btn-cross{left:89%!important;top: 6px;}
.mobile-rm{width:88.5%!important}
.responsive-menu .navbar-toggle{padding:5px 6px!important;}
}